@page
@using AlphaIdPlatform.Subjects
@using AspNetWebLib.Helpers
@using Organizational
@inject OrganizationManager OrganizationManager
@model JoinOrganizationInvitationModel
@{
    Organization? organization = await OrganizationManager.FindByIdAsync(Model.Invitation.OrganizationId);
}
<h2>@L["Join organization"]</h2>
<p>@L["{0} invite you join in {1}", Model.Invitation.Inviter, organization!]</p>
<form method="post">
    <div class="mb-3">
        <select name="visibility" asp-items="@EnumHelper.GetSelectListItems<MembershipVisibility>()" class="form-select"></select>
    </div>
    <button type="submit" name="button" value="Accept" class="btn btn-success">@L["Accept"]</button>
    <button type="submit" name="button" value="Refuse" class="btn btn-danger">@L["Refuse"]</button>
</form>