@page "{role?}"
@model RoleMembersModel
@{
    ViewBag.Title = L["Role Members"];
}

@section head{
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui-1.13.2/jquery-ui.min.css"/>
}

<h3>@L["Role Members"]</h3>

<div class="row">
    <div class="col-3">
        <ul>
            @foreach (var role in RoleConstants.Roles)
            {
                <li>
                    <a asp-route-role="@role.Name">@role.DisplayName</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-9">
        <h2>@L["Members"]</h2>
        @if (Model.RoleMembers != null)
        {
            if (Model.RoleMembers.Any())
            {
                <form method="post" asp-page-handler="RemoveMember" asp-route-role="@Model.Role">
                    <ul>
                        @foreach (var member in Model.RoleMembers)
                        {
                            <li>
                                @member.UserId <button type="submit" asp-page-handler="RemoveMember" asp-route-personId="@member.UserId" class="btn btn-outline-danger btn-sm" onclick="return confirm('确实要移除吗？');">移除</button>
                            </li>
                        }
                    </ul>
                </form>
            }
            else
            {
                <p>@L["No members"]</p>
            }

            <button type="button" data-bs-toggle="modal" data-bs-target="#memberEditor" class="btn btn-primary">Add member</button>
        }
        else
        {
            <p>Select one role to view members.</p>
        }
    </div>
</div>

@section PageComponents
{
    <div class="modal fade" id="memberEditor" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">@L["Add member"]</div>
                <div class="modal-body">
                    <form method="post" asp-page-handler="AddMember" asp-route-role="@Model.Role">
                        <div class="mb-3">
                            <label for="personSearch" class="form-label">Search person</label>
                            <input id="personSearch" name="personSearch" class="form-control"/>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.UserName" class="form-label"></label>
                            <input asp-for="Input.UserName" class="form-control" readonly/>
                        </div>
                        <input asp-for="Input.PhoneticSearchHint" type="hidden"/>
                        <button type="submit" class="btn btn-primary">@L["Add"]</button>
                        <button type="reset" class="btn btn-secondary">@L["Clear"]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts
{
    <script src="~/lib/jquery-ui/jquery-ui-1.13.2/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("[name='personSearch']").autocomplete({
                source: "@Url.Action("SearchPerson", "IdService")",
                minLength: 2,
                appendTo: "#memberEditor",
                select: function (event, ui) {
                    $(this).val(ui.item.name);
                    $("[name='Input.UserName']").val(ui.item.userName);
                    $("[name='Input.PhoneticSearchHint']").val(ui.item.phoneticSearchHint);

                    return false;
                }
            })
                .autocomplete("instance")._renderItem = function (ul, item) {
                    var div = $("<div>");
                    div.append("<p>" + item.name + "</p>")
                    div.append("<ul>").append("<li>ddd</li>");
                    var li = $("<li>").append(div);
                    return li.appendTo(ul);
                };
        });

    </script>

}