@{
    Layout = "../_Layout";
    var anchor = ViewContext.RouteData.Values["anchor"]!;
}
<h2>@L["Account"]</h2>
<div class="card">
    <div class="row g-0">
        <div class="col-12 col-md-2 border-end">
            <div class="card-body">
                <div class="list-group list-group-transparent">
                    @* ReSharper disable Mvc.ActionNotResolved *@
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(anchor)/Account!" asp-page="/Detail/Account/Index" asp-route-anchor="@anchor">@SL["Overview"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(anchor)/Account/ExternalLogins" asp-page="/Detail/Account/ExternalLogins" asp-route-anchor="@anchor">@L["External logins"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(anchor)/Account/DirectoryAccounts" asp-page="/Detail/Account/DirectoryAccounts" asp-route-anchor="@anchor">@L["Directory accounts"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(anchor)/Account/Security" asp-page="/Detail/Account/Security" asp-route-anchor="@anchor">@L["Security"]</a>
                    @* ReSharper restateStore Mvc.ActionNotResolved *@
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 d-flex flex-column">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>