@{
    Layout = "../_Layout";
    var anchor = this.ViewContext.RouteData.Values["anchor"];
}
<h2>@L["Account"]</h2>
<div class="card">
    <div class="row g-0">
        <div class="col-12 col-md-2 border-end">
            <div class="card-body">
                <div class="list-group list-group-transparent">
                    @* ReSharper disable Mvc.ActionNotResolved *@
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(anchor)/Account" asp-match-prefix="false" asp-page="/Detail/Account/Index" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Overview"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(anchor)/Account/ExternalLogins" asp-page="/Detail/Account/ExternalLogins" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["External Logins"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(anchor)/Account/DirectoryAccounts" asp-page="/Detail/Account/DirectoryAccounts" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Directory Accounts"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(anchor)/Account/Security" asp-page="/Detail/Account/Security" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Security"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(anchor)/Account/Advanced" asp-page="/Detail/Account/Advanced" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Advanced"]</a>
                    @* ReSharper restore Mvc.ActionNotResolved *@
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 d-flex flex-column">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
