@page
@model SearchModel
@{
    ViewBag.Title = L["Search People"];
}

@section PageHeader {
    <h1>@L["Search Result"]</h1>
}

<div class="card">
    <div class="card-body">
        <partial name="_SearchInputPart" />
        @if (Model.Results.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">@SL["Name"]</th>
                        <th>@SL["Gender"]</th>
                        <th>@SL["Age"]</th>
                        <th>@SL["User name"]</th>
                        <th>@SL["Phone number"]</th>
                        <th>@SL["Email"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var person in Model.Results)
                    {
                        <tr>
                            <td>
                                <img src="@Url.Page("Detail/Index", "Photo", new { Anchor = person.Id })" class="img-fluid img-thumbnail" width="36" />
                                <a asp-page="Detail/Index" asp-route-anchor="@person.Id">@person.Name</a>
                            </td>
                            <td>
                                <partial name="_RealNameState" model="person.Id" />
                            </td>
                            <td>@Html.DisplayFor(m => person.Gender)</td>
                            <td>@Html.DisplayFor(m => person.DateOfBirth, "Age")</td>
                            <td>@person.UserName</td>
                            <td>@person.PhoneNumber</td>
                            <td>@person.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>@L["No results."]</p>
        }
    </div>
</div>