@inject NaturalPersonManager Manager
@{
    Layout = "Shared/_Layout";

    var id = ViewContext.RouteData.Values["anchor"]?.ToString();
    NaturalPerson? person = null;
    if (id != null)
    {
        person = await Manager.FindByIdAsync(id);
    }
}
@section Heads{
    @await RenderSectionAsync("Heads", false)
}
@section PageHeader{
    <h1>@person?.PersonName.FullName</h1>
}
<div class="card">
    <div class="row g-0">
        <div class="col-12 col-md-2 border-end">
            <div class="card-body">
                <div class="list-group list-group-transparent">
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(this.ViewContext.RouteData.Values["anchor"])" asp-match-prefix="false" asp-page="/Detail/Index" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Overview"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(this.ViewContext.RouteData.Values["anchor"])/Contacts" asp-page="/Detail/Contacts" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Contacts"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(this.ViewContext.RouteData.Values["anchor"])/Membership" asp-page="/Detail/Membership/Index" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Memberships"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(this.ViewContext.RouteData.Values["anchor"])/Payments" asp-page="/Detail/Payments" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Payments"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(this.ViewContext.RouteData.Values["anchor"])/RealName" asp-page="/Detail/RealName" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Real Name"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(this.ViewContext.RouteData.Values["anchor"])/Account" asp-page="/Detail/Account/Index" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Account"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(this.ViewContext.RouteData.Values["anchor"])/ActivityLog" asp-page="/Detail/ActivityLog" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Activity log"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/People/Detail/@(this.ViewContext.RouteData.Values["anchor"])/Advanced" asp-page="/Detail/Advanced" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Advanced"]</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 d-flex flex-column">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    @await RenderSectionAsync("Scripts", false);
}