@{
    Layout = "Shared/_Layout";
}

<div class="page-body">
    <div class="container-xl">
        <div class="row">
            <div class="col-2">
                <nav class="nav flex-column">
                    <a class="nav-link" asp-page="Index" asp-route-id="@this.ViewContext.RouteData.Values["id"]">概要</a>
                    <a class="nav-link" asp-page="Id" asp-route-id="@this.ViewContext.RouteData.Values["id"]">ID</a>
                    <a class="nav-link" asp-page="RealName" asp-route-id="@this.ViewContext.RouteData.Values["id"]">实名</a>
                    <a class="nav-link" asp-page="MembersOf" asp-route-id="@this.ViewContext.RouteData.Values["id"]">组织</a>
                    <a class="nav-link" asp-page="Contacts" asp-route-id="@this.ViewContext.RouteData.Values["id"]">联络</a>
                    <a class="nav-link" asp-page="BankAccount" asp-route-id="@this.ViewContext.RouteData.Values["id"]">财务</a>
                    <a class="nav-link" asp-page="ExternalLogins" asp-route-id="@this.ViewContext.RouteData.Values["id"]">外部登录</a>
                    <a class="nav-link" asp-page="DirectoryAccounts" asp-route-id="@this.ViewContext.RouteData.Values["id"]">目录账号</a>
                    <a class="nav-link" asp-page="Security" asp-route-id="@this.ViewContext.RouteData.Values["id"]">安全性</a>
                    <a class="nav-link">高级</a>
                </nav>
            </div>
            <div class="col-10">
                @RenderBody()
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    @RenderSection("Scripts", false);
}