@{
    Layout = "Shared/_Layout";
}

<div class="page-body">
    <div class="container-xl">
        <div class="row">
            <div class="col-2">
                <nav class="nav flex-column">
                    <a class="nav-link" asp-page="Index" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["Overview"]</a>
                    <a class="nav-link" asp-page="Id" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["ID"]</a>
                    <a class="nav-link" asp-page="RealName" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["Real Name"]</a>
                    <a class="nav-link" asp-page="MembersOf" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["Organizations"]</a>
                    <a class="nav-link" asp-page="Contacts" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["Contacts"]</a>
                    <a class="nav-link" asp-page="BankAccount" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["Finacial"]</a>
                    <a class="nav-link" asp-page="ExternalLogins" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["External Logins"]</a>
                    <a class="nav-link" asp-page="DirectoryAccounts" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["Directory Accounts"]</a>
                    <a class="nav-link" asp-page="Security" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["Security"]</a>
                    <a class="nav-link" asp-page="Advanced" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["Advanced"]</a>
                </nav>
            </div>
            <div class="col-10">
                @RenderBody()
            </div>
        </div>
    </div>
</div>



@section Scripts
    {
    @RenderSection("Scripts", false);
}