@page
@model BankAccountModel
@{
    this.ViewBag.Title = this.L["Bank accounts of {0}", this.Model.Person.Name];
}

<h2><a asp-page="Index" asp-route-anchor="@Model.Anchor">@ViewBag.Title</a></h2>

<partial name="_PersonSummary" model="@Model.Person" />

<table class="table">
    <thead>
        <tr>
            <td>@L["BankName"]</td>
            <td>@L["AccountNumber"]</td>
            <td>@L["AccountName"]</td>
            <td>@L["Operations"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model.Person.BankAccounts)
        {
            <tr>
                <td>@account.BankName</td>
                <td>@account.AccountNumber</td>
                <td>@account.AccountName</td>
                <td>
                    <form method="post" asp-page-handler="RemoveBankAccount" asp-route-accountnumber="@account.AccountNumber">
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<form method="post" asp-page-handler="AddBankAccount">
    <div class="mb-3">
        <label asp-for="@Model.AccountNumber" class="form-label"></label>
        <input asp-for="@Model.AccountNumber" class="form-control" />
        <span asp-validation-for="@Model.AccountNumber"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.AccountName" class="form-label"></label>
        <input asp-for="@Model.AccountName" class="form-control" />
        <span asp-validation-for="@Model.AccountName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.BankName" class="form-label"></label>
        <input asp-for="@Model.BankName" class="form-control" />
        <span asp-validation-for="@Model.BankName"></span>
    </div>
    <button type="submit" class="btn btn-primary">@L["Add"]</button>
</form>