@page
@model DirectoryAccountsModel
@{
    this.ViewBag.Title = this.localizer["Directory Accounts"];
}
<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <td>@localizer["Logon ID"]</td>
            <td>@localizer["Person ID"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var acc in this.Model.LogonAccounts)
        {
            <tr>
                <td>@acc.LogonId</td>
                <td>@acc.PersonId</td>
            </tr>
        }
    </tbody>
</table>

<p><a asp-page="CreateDirectoryAccount" asp-route-anchor="@this.Model.Person.Id">@localizer["Create new account"]</a></p>
<p><a asp-page="BindDirectoryAccount" asp-route-anchor="@this.Model.Person.Id">@localizer["Bind exists account"]</a></p>