@page "{id}"
@model IndexModel

@{
    this.ViewBag.Title = $"{Model.Data.Name}的资料";
}


<h1>@Model.Data.Name</h1>
<div class="row mb-3">
    <div class="col-10">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h3 class="card-title">@localizer["Base info"]</h3>
                <a asp-page="EditPersonName" asp-route-id="@this.Model.Data.Id" class="btn">@localizer["Change name"]</a>
            </div>
            <div class="card-body">
                <div class="datagrid">
                    <div class="datagrid-item">
                        <div class="datagrid-title">@localizer["Surname"]</div>
                        <div class="datagrid-content">
                            @Model.Data.LastName @Model.Data.PhoneticSurname
                        </div>
                    </div>
                    <div class="datagrid-item">
                        <div class="datagrid-title">@localizer["Given name"]</div>
                        <div class="datagrid-content">
                            @Model.Data.FirstName @Model.Data.PhoneticGivenName
                        </div>
                    </div>
                    <div class="datagrid-item">
                        <div class="datagrid-title">@localizer["Gender"]</div>
                        <div class="datagrid-content">@Html.DisplayFor(m => m.Data.Sex, "Sex")</div>
                    </div>
                    <div class="datagrid-item">
                        <div class="datagrid-title">@localizer["Date of birth (Age)"]</div>
                        <div class="datagrid-content">@(this.Model.Data.DateOfBirth?.ToShortDateString() ?? "N/A") (@(this.Model.Data.DateOfBirth.AsAge()?.ToString() ?? "N/A"))</div>
                    </div>
                    <div class="datagrid-item">
                        <div class="datagrid-title">@localizer["Website"]</div>
                        <div class="datagrid-content">@Model.Data.WebSite</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 text-center">
        <img src="@Url.Page("Index", "Photo", new{id = Model.Data.Id})" class="img-fluid img-thumbnail" />
        <a href="#" class="btn btn-sm">@localizer["Change Avatar"]</a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">Account</h3>
    </div>
    <div class="card-body">
        <div class="datagrid">
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["User name"]</div>
                <div class="datagrid-content">@Model.Data.UserName</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Email"]</div>
                <div class="datagrid-content"><a href="mailto:@Model.Data.Email">@Model.Data.Email</a></div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Phone number"]</div>
                <div class="datagrid-content">@Model.Data.PhoneNumber</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Status"]</div>
                <div class="datagrid-content">@Model.Data.Enabled LocalLogin? 2Fa? PhoneCheck?</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Authentication statistics"]</div>
                <div class="datagrid-content">10 falied:2 lock:1</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Person ID"]</div>
                <div class="datagrid-content">
                    <input type="text" value="@Model.Data.Id" class="form-control form-control-sm" readonly>
                </div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["External Logins"]</div>
                <div class="datagrid-content">@Model.ExternalLogins.Count</div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">@localizer["Contacts"]</h3>
    </div>
    <div class="card-body">
        <div class="datagrid">
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Phone number"]</div>
                <div class="datagrid-content">@Model.Data.PhoneNumber</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Email"]</div>
                <div class="datagrid-content">@Model.Data.Email</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["QQ"]</div>
                <div class="datagrid-content">N/A</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Address"]</div>
                <div class="datagrid-content">@Model.Data.Address?.ToString()</div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">@localizer["Real name validation"]</h3>
    </div>
    <div class="card-body">
        <div class="datagrid">
            <div class="datagrid-item">
                <div class="datagrid-title"></div>
                <div class="datagrid-content"></div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">@localizer["Payments"]</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <td>账号</td>
                    <td>户名</td>
                    <td>银行</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var bankAccount in Model.Data.BankAccounts)
                {
                    <tr>
                        <td>@bankAccount.AccountNumber</td>
                        <td>@bankAccount.AccountName</td>
                        <td>@bankAccount.BankName</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">@localizer["Organizations"]</h3>
    </div>
    <div class="card-body">
        <partial name="_MembersOfPart" model="@Model.Data" />
    </div>
</div>

<hr />
<h2>实名信息</h2>
<vc:person-chinese-id-card-panel person="@this.Model.Data"></vc:person-chinese-id-card-panel>


<hr />
<h2><a asp-page="DirectoryAccounts" asp-route-id="@this.Model.Data.Id">AD账号</a></h2>
<vc:person-logon-accounts person-id="@Model.Data.Id"></vc:person-logon-accounts>

<hr />
<p>@localizer["Created at"] : @Model.Data.WhenCreated</p>
<p>@localizer["Changed at"] : @Model.Data.WhenChanged</p>
<p><a asp-page="Delete" asp-route-id="@Model.Data.Id" class="btn btn-danger">@localizer["Delete person"]</a></p>