@page "{id}"
@model             RealNameModel
@{
}
<h1>实名信息</h1>
<h2>居民身份证</h2>
@if(this.Model.Card != null)
{
    <p>姓名: @Model.Card.ChineseIDCard.Name</p>
    <p>身份证号码: @Model.Card.ChineseIDCard.CardNumber</p>
    <p>签发时间: @Model.Card.ChineseIDCard.IssueDate</p>
    <p>民族: @Model.Card.ChineseIDCard.Ethnicity</p>
    <p>住址: @Model.Card.ChineseIDCard.Address</p>
    <p>签发机关: @Model.Card.ChineseIDCard.Issuer</p>
    <p>有效期至: @Model.Card.ChineseIDCard.Expires</p>
}
else
{
    <p>没有实名信息</p>
}