@page
@model AdminWebApp.Areas.OpenIDConnect.Pages.ActiveSessionsModel
@inject PersistedGrantDbContext DbContext;
@{
    ViewBag.Title = L["Active sessions"];
}
@section PageHeader{
    <h1>@L["Active sessions"]</h1>
}
<div class="card">
    <table class="table card-table">
        <thead>
            <tr>
                <td>@L["Session ID"]</td>
                <td>@L["Scheme"]</td>
                <td>@L["Subject ID"]</td>
                <td>@L["Created"]</td>
                <td>@L["Renewed"]</td>
                <td>@L["Expires"]</td>
                <td>@L["Display name"]</td>
                <td>@L["Key part"]</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in DbContext.ServerSideSessions)
            {
                <tr>
                    <td>@a.SessionId</td>
                    <td>@a.Scheme</td>
                    <td>@a.SubjectId</td>
                    <td>@a.Created</td>
                    <td>@a.Renewed</td>
                    <td>@a.Expires</td>
                    <td>@a.DisplayName</td>
                    <td>@a.Key[..4]</td>
                </tr>
            }
        </tbody>
    </table>
</div>
