@page
@model IndexModel
@inject ConfigurationDbContext dbContext
@inject PersistedGrantDbContext persistedGrantDbContext
@{
    this.ViewBag.Title = this.L["OAuth/OIDC"];
}

@section PageHeader{
    <h1>@L["Overview"]</h1>
}


<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="subheader">@L["Clients"]</div>
                    <div class="ms-auto lh-1">
                    </div>
                </div>
                <div class="h1 mb-3">@this.dbContext.Clients.Count()</div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="subheader">@L["Scopes"]</div>
                    <div class="ms-auto lh-1">
                        <div class="dropdown">
                            <a class="dropdown-toggle text-secondary" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item active" href="#">Last 7 days</a>
                                <a class="dropdown-item" href="#">Last 30 days</a>
                                <a class="dropdown-item" href="#">Last 3 months</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-baseline">
                    <div class="h1 mb-0 me-2">@this.dbContext.ApiScopes.Count()</div>
                    <div class="me-auto">
                        <span class="text-green d-inline-flex align-items-center lh-1">
                            8% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 17l6 -6l4 4l8 -8"></path><path d="M14 7l7 0l0 7"></path></svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="subheader">@L["API Resources"]</div>
                    <div class="ms-auto lh-1">
                        <div class="dropdown">
                            <a class="dropdown-toggle text-secondary" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item active" href="#">Last 7 days</a>
                                <a class="dropdown-item" href="#">Last 30 days</a>
                                <a class="dropdown-item" href="#">Last 3 months</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-baseline">
                    <div class="h1 mb-3 me-2">@this.dbContext.ApiResources.Count()</div>
                    <div class="me-auto">
                        <span class="text-yellow d-inline-flex align-items-center lh-1">
                            0% <!-- Download SVG icon from http://tabler-icons.io/i/minus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l14 0"></path></svg>
                        </span>
                    </div>
                </div>
                <div id="chart-new-clients" class="chart-sm" style="min-height: 40px;"><div id="apexchartspo3co2hr" class="apexcharts-canvas apexchartspo3co2hr apexcharts-theme-light" style="width: 268px; height: 40px;"><svg id="SvgjsSvg6776" width="268" height="40" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><foreignObject x="0" y="0" width="268" height="40"><div class="apexcharts-legend" xmlns="http://www.w3.org/1999/xhtml" style="max-height: 20px;"></div></foreignObject><rect id="SvgjsRect6781" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG6846" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG6778" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs6777"><clipPath id="gridRectMaskpo3co2hr"><rect id="SvgjsRect6813" width="274" height="42" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskpo3co2hr"></clipPath><clipPath id="nonForecastMaskpo3co2hr"></clipPath><clipPath id="gridRectMarkerMaskpo3co2hr"><rect id="SvgjsRect6814" width="272" height="44" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><line id="SvgjsLine6782" x1="0" y1="0" x2="0" y2="40" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="40" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG6824" class="apexcharts-grid"><g id="SvgjsG6825" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine6828" x1="0" y1="0" x2="268" y2="0" stroke="#e0e0e0" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine6829" x1="0" y1="8" x2="268" y2="8" stroke="#e0e0e0" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine6830" x1="0" y1="16" x2="268" y2="16" stroke="#e0e0e0" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine6831" x1="0" y1="24" x2="268" y2="24" stroke="#e0e0e0" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine6832" x1="0" y1="32" x2="268" y2="32" stroke="#e0e0e0" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine6833" x1="0" y1="40" x2="268" y2="40" stroke="#e0e0e0" stroke-dasharray="4" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG6826" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine6835" x1="0" y1="40" x2="268" y2="40" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine6834" x1="0" y1="1" x2="0" y2="40" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG6815" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG6816" class="apexcharts-series" seriesName="May" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath6819" d="M 0 25.2C 3.2344827586206892 25.2 6.006896551724138 26 9.241379310344827 26C 12.475862068965517 26 15.248275862068965 22.4 18.482758620689655 22.4C 21.717241379310344 22.4 24.48965517241379 28.8 27.72413793103448 28.8C 30.95862068965517 28.8 33.731034482758616 25.6 36.96551724137931 25.6C 40.199999999999996 25.6 42.97241379310345 30.4 46.206896551724135 30.4C 49.44137931034482 30.4 52.213793103448275 14 55.44827586206896 14C 58.682758620689654 14 61.4551724137931 27.6 64.6896551724138 27.6C 67.92413793103448 27.6 70.69655172413793 25.2 73.93103448275862 25.2C 77.1655172413793 25.2 79.93793103448276 24.4 83.17241379310344 24.4C 86.40689655172413 24.4 89.17931034482758 15.2 92.41379310344827 15.2C 95.64827586206896 15.2 98.42068965517241 19.6 101.6551724137931 19.6C 104.88965517241378 19.6 107.66206896551724 26 110.89655172413792 26C 114.13103448275861 26 116.90344827586206 23.6 120.13793103448275 23.6C 123.37241379310345 23.6 126.14482758620689 26 129.3793103448276 26C 132.61379310344827 26 135.38620689655173 29.2 138.6206896551724 29.2C 141.8551724137931 29.2 144.62758620689655 2.799999999999997 147.86206896551724 2.799999999999997C 151.09655172413792 2.799999999999997 153.86896551724138 18.8 157.10344827586206 18.8C 160.33793103448275 18.8 163.1103448275862 15.600000000000001 166.3448275862069 15.600000000000001C 169.57931034482758 15.600000000000001 172.35172413793103 29.2 175.58620689655172 29.2C 178.8206896551724 29.2 181.59310344827585 18.4 184.82758620689654 18.4C 188.06206896551723 18.4 190.83448275862068 22.8 194.06896551724137 22.8C 197.30344827586205 22.8 200.0758620689655 38.4 203.3103448275862 38.4C 206.54482758620688 38.4 209.31724137931033 21.6 212.55172413793102 21.6C 215.7862068965517 21.6 218.55862068965516 24.4 221.79310344827584 24.4C 225.02758620689653 24.4 227.79999999999998 15.2 231.03448275862067 15.2C 234.26896551724136 15.2 237.0413793103448 19.6 240.2758620689655 19.6C 243.51034482758618 19.6 246.28275862068963 26 249.51724137931032 26C 252.751724137931 26 255.5241379310345 23.6 258.7586206896552 23.6C 261.99310344827586 23.6 264.7655172413793 13.2 268 13.2" fill="none" fill-opacity="1" stroke="rgba(0,84,166,1)" stroke-opacity="1" stroke-linecap="round" stroke-width="2" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMaskpo3co2hr)" pathTo="M 0 25.2C 3.2344827586206892 25.2 6.006896551724138 26 9.241379310344827 26C 12.475862068965517 26 15.248275862068965 22.4 18.482758620689655 22.4C 21.717241379310344 22.4 24.48965517241379 28.8 27.72413793103448 28.8C 30.95862068965517 28.8 33.731034482758616 25.6 36.96551724137931 25.6C 40.199999999999996 25.6 42.97241379310345 30.4 46.206896551724135 30.4C 49.44137931034482 30.4 52.213793103448275 14 55.44827586206896 14C 58.682758620689654 14 61.4551724137931 27.6 64.6896551724138 27.6C 67.92413793103448 27.6 70.69655172413793 25.2 73.93103448275862 25.2C 77.1655172413793 25.2 79.93793103448276 24.4 83.17241379310344 24.4C 86.40689655172413 24.4 89.17931034482758 15.2 92.41379310344827 15.2C 95.64827586206896 15.2 98.42068965517241 19.6 101.6551724137931 19.6C 104.88965517241378 19.6 107.66206896551724 26 110.89655172413792 26C 114.13103448275861 26 116.90344827586206 23.6 120.13793103448275 23.6C 123.37241379310345 23.6 126.14482758620689 26 129.3793103448276 26C 132.61379310344827 26 135.38620689655173 29.2 138.6206896551724 29.2C 141.8551724137931 29.2 144.62758620689655 2.799999999999997 147.86206896551724 2.799999999999997C 151.09655172413792 2.799999999999997 153.86896551724138 18.8 157.10344827586206 18.8C 160.33793103448275 18.8 163.1103448275862 15.600000000000001 166.3448275862069 15.600000000000001C 169.57931034482758 15.600000000000001 172.35172413793103 29.2 175.58620689655172 29.2C 178.8206896551724 29.2 181.59310344827585 18.4 184.82758620689654 18.4C 188.06206896551723 18.4 190.83448275862068 22.8 194.06896551724137 22.8C 197.30344827586205 22.8 200.0758620689655 38.4 203.3103448275862 38.4C 206.54482758620688 38.4 209.31724137931033 21.6 212.55172413793102 21.6C 215.7862068965517 21.6 218.55862068965516 24.4 221.79310344827584 24.4C 225.02758620689653 24.4 227.79999999999998 15.2 231.03448275862067 15.2C 234.26896551724136 15.2 237.0413793103448 19.6 240.2758620689655 19.6C 243.51034482758618 19.6 246.28275862068963 26 249.51724137931032 26C 252.751724137931 26 255.5241379310345 23.6 258.7586206896552 23.6C 261.99310344827586 23.6 264.7655172413793 13.2 268 13.2" pathFrom="M -1 40 L -1 40 L 9.241379310344827 40 L 18.482758620689655 40 L 27.72413793103448 40 L 36.96551724137931 40 L 46.206896551724135 40 L 55.44827586206896 40 L 64.6896551724138 40 L 73.93103448275862 40 L 83.17241379310344 40 L 92.41379310344827 40 L 101.6551724137931 40 L 110.89655172413792 40 L 120.13793103448275 40 L 129.3793103448276 40 L 138.6206896551724 40 L 147.86206896551724 40 L 157.10344827586206 40 L 166.3448275862069 40 L 175.58620689655172 40 L 184.82758620689654 40 L 194.06896551724137 40 L 203.3103448275862 40 L 212.55172413793102 40 L 221.79310344827584 40 L 231.03448275862067 40 L 240.2758620689655 40 L 249.51724137931032 40 L 258.7586206896552 40 L 268 40" fill-rule="evenodd"></path><g id="SvgjsG6817" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6850" r="0" cx="0" cy="0" class="apexcharts-marker w92amio8l no-pointer-events" stroke="#ffffff" fill="#0054a6" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG6820" class="apexcharts-series" seriesName="April" data:longestSeries="true" rel="2" data:realIndex="1"><path id="SvgjsPath6823" d="M 0 2.799999999999997C 3.2344827586206892 2.799999999999997 6.006896551724138 18.4 9.241379310344827 18.4C 12.475862068965517 18.4 15.248275862068965 19.6 18.482758620689655 19.6C 21.717241379310344 19.6 24.48965517241379 30.4 27.72413793103448 30.4C 30.95862068965517 30.4 33.731034482758616 26 36.96551724137931 26C 40.199999999999996 26 42.97241379310345 26 46.206896551724135 26C 49.44137931034482 26 52.213793103448275 27.6 55.44827586206896 27.6C 58.682758620689654 27.6 61.4551724137931 13.2 64.6896551724138 13.2C 67.92413793103448 13.2 70.69655172413793 32.4 73.93103448275862 32.4C 77.1655172413793 32.4 79.93793103448276 22.8 83.17241379310344 22.8C 86.40689655172413 22.8 89.17931034482758 28.8 92.41379310344827 28.8C 95.64827586206896 28.8 98.42068965517241 25.6 101.6551724137931 25.6C 104.88965517241378 25.6 107.66206896551724 15.2 110.89655172413792 15.2C 114.13103448275861 15.2 116.90344827586206 15.600000000000001 120.13793103448275 15.600000000000001C 123.37241379310345 15.600000000000001 126.14482758620689 29.2 129.3793103448276 29.2C 132.61379310344827 29.2 135.38620689655173 24.4 138.6206896551724 24.4C 141.8551724137931 24.4 144.62758620689655 26 147.86206896551724 26C 151.09655172413792 26 153.86896551724138 23.6 157.10344827586206 23.6C 160.33793103448275 23.6 163.1103448275862 29.2 166.3448275862069 29.2C 169.57931034482758 29.2 172.35172413793103 26 175.58620689655172 26C 178.8206896551724 26 181.59310344827585 19.6 184.82758620689654 19.6C 188.06206896551723 19.6 190.83448275862068 21.6 194.06896551724137 21.6C 197.30344827586205 21.6 200.0758620689655 15.2 203.3103448275862 15.2C 206.54482758620688 15.2 209.31724137931033 25.2 212.55172413793102 25.2C 215.7862068965517 25.2 218.55862068965516 22.4 221.79310344827584 22.4C 225.02758620689653 22.4 227.79999999999998 18.8 231.03448275862067 18.8C 234.26896551724136 18.8 237.0413793103448 23.6 240.2758620689655 23.6C 243.51034482758618 23.6 246.28275862068963 14 249.51724137931032 14C 252.751724137931 14 255.5241379310345 24.4 258.7586206896552 24.4C 261.99310344827586 24.4 264.7655172413793 25.2 268 25.2" fill="none" fill-opacity="1" stroke="rgba(102,115,130,1)" stroke-opacity="1" stroke-linecap="round" stroke-width="1" stroke-dasharray="3" class="apexcharts-line" index="1" clip-path="url(#gridRectMaskpo3co2hr)" pathTo="M 0 2.799999999999997C 3.2344827586206892 2.799999999999997 6.006896551724138 18.4 9.241379310344827 18.4C 12.475862068965517 18.4 15.248275862068965 19.6 18.482758620689655 19.6C 21.717241379310344 19.6 24.48965517241379 30.4 27.72413793103448 30.4C 30.95862068965517 30.4 33.731034482758616 26 36.96551724137931 26C 40.199999999999996 26 42.97241379310345 26 46.206896551724135 26C 49.44137931034482 26 52.213793103448275 27.6 55.44827586206896 27.6C 58.682758620689654 27.6 61.4551724137931 13.2 64.6896551724138 13.2C 67.92413793103448 13.2 70.69655172413793 32.4 73.93103448275862 32.4C 77.1655172413793 32.4 79.93793103448276 22.8 83.17241379310344 22.8C 86.40689655172413 22.8 89.17931034482758 28.8 92.41379310344827 28.8C 95.64827586206896 28.8 98.42068965517241 25.6 101.6551724137931 25.6C 104.88965517241378 25.6 107.66206896551724 15.2 110.89655172413792 15.2C 114.13103448275861 15.2 116.90344827586206 15.600000000000001 120.13793103448275 15.600000000000001C 123.37241379310345 15.600000000000001 126.14482758620689 29.2 129.3793103448276 29.2C 132.61379310344827 29.2 135.38620689655173 24.4 138.6206896551724 24.4C 141.8551724137931 24.4 144.62758620689655 26 147.86206896551724 26C 151.09655172413792 26 153.86896551724138 23.6 157.10344827586206 23.6C 160.33793103448275 23.6 163.1103448275862 29.2 166.3448275862069 29.2C 169.57931034482758 29.2 172.35172413793103 26 175.58620689655172 26C 178.8206896551724 26 181.59310344827585 19.6 184.82758620689654 19.6C 188.06206896551723 19.6 190.83448275862068 21.6 194.06896551724137 21.6C 197.30344827586205 21.6 200.0758620689655 15.2 203.3103448275862 15.2C 206.54482758620688 15.2 209.31724137931033 25.2 212.55172413793102 25.2C 215.7862068965517 25.2 218.55862068965516 22.4 221.79310344827584 22.4C 225.02758620689653 22.4 227.79999999999998 18.8 231.03448275862067 18.8C 234.26896551724136 18.8 237.0413793103448 23.6 240.2758620689655 23.6C 243.51034482758618 23.6 246.28275862068963 14 249.51724137931032 14C 252.751724137931 14 255.5241379310345 24.4 258.7586206896552 24.4C 261.99310344827586 24.4 264.7655172413793 25.2 268 25.2" pathFrom="M -1 40 L -1 40 L 9.241379310344827 40 L 18.482758620689655 40 L 27.72413793103448 40 L 36.96551724137931 40 L 46.206896551724135 40 L 55.44827586206896 40 L 64.6896551724138 40 L 73.93103448275862 40 L 83.17241379310344 40 L 92.41379310344827 40 L 101.6551724137931 40 L 110.89655172413792 40 L 120.13793103448275 40 L 129.3793103448276 40 L 138.6206896551724 40 L 147.86206896551724 40 L 157.10344827586206 40 L 166.3448275862069 40 L 175.58620689655172 40 L 184.82758620689654 40 L 194.06896551724137 40 L 203.3103448275862 40 L 212.55172413793102 40 L 221.79310344827584 40 L 231.03448275862067 40 L 240.2758620689655 40 L 249.51724137931032 40 L 258.7586206896552 40 L 268 40" fill-rule="evenodd"></path><g id="SvgjsG6821" class="apexcharts-series-markers-wrap" data:realIndex="1"><g class="apexcharts-series-markers"><circle id="SvgjsCircle6851" r="0" cx="0" cy="0" class="apexcharts-marker ww6mq0m9m no-pointer-events" stroke="#ffffff" fill="#667382" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG6818" class="apexcharts-datalabels" data:realIndex="0"></g><g id="SvgjsG6822" class="apexcharts-datalabels" data:realIndex="1"></g></g><g id="SvgjsG6827" class="apexcharts-grid-borders" style="display: none;"></g><line id="SvgjsLine6836" x1="0" y1="0" x2="268" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine6837" x1="0" y1="0" x2="268" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG6838" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG6839" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG6847" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG6848" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG6849" class="apexcharts-point-annotations"></g></g></svg><div class="apexcharts-tooltip apexcharts-theme-dark"><div class="apexcharts-tooltip-title" style="font-family: inherit; font-size: 12px;"></div><div class="apexcharts-tooltip-series-group" style="order: 1;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(0, 84, 166);"></span><div class="apexcharts-tooltip-text" style="font-family: inherit; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(102, 115, 130);"></span><div class="apexcharts-tooltip-text" style="font-family: inherit; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label"></span><span class="apexcharts-tooltip-text-y-value"></span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-dark"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="subheader">@L["ID Providers"]</div>
                    <div class="ms-auto lh-1">
                        <div class="dropdown">
                            <a class="dropdown-toggle text-secondary" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item active" href="#">Last 7 days</a>
                                <a class="dropdown-item" href="#">Last 30 days</a>
                                <a class="dropdown-item" href="#">Last 3 months</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-baseline">
                    <div class="h1 mb-3 me-2">@dbContext.IdentityProviders.Count()</div>
                    <div class="me-auto">
                        <span class="text-green d-inline-flex align-items-center lh-1">
                            4% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 17l6 -6l4 4l8 -8"></path><path d="M14 7l7 0l0 7"></path></svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="subheader">@L["Active Sessions"]</div>
                    <div class="ms-auto lh-1">
                    </div>
                </div>
                <div class="h1 mb-3"><a asp-page="/ActiveSessions">@this.persistedGrantDbContext.ServerSideSessions.Count()</a></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="subheader">@L["Keys"]</div>
                    <div class="ms-auto lh-1">
                    </div>
                </div>
                <div class="h1 mb-3">@this.persistedGrantDbContext.Keys.Count()</div>
            </div>
        </div>
    </div>
</div>
