<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title - @product.Value.Name</title>
    }
    else
    {
        <title>@product.Value.Name @product.Value.Name</title>
    }
    @RenderSection("Heads", false)
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>