<!DOCTYPE html>
<html lang="zh-cn" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>@this.ViewData["Title"]</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("head", false)
</head>
<body class="d-flex flex-column h-100">
    <header>
        <partial name="_Nav" />
    </header>
    <main role="main" class="flex-shrink-0">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer class="footer mt-auto py-3">
        <div class="container">
            &copy; 2021 - @product.Value.Organization - <a href="~/.well-known/openid-configuration">发现文档</a> <a href="#">开发者参考</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
