@page
@model AuthenticationsModel
@{
    ViewBag.Title = L["Real-name authentications"];
}
<h1>@L["Real-name authentications"]</h1>

<table class="table">
    <thead>
    <tr>
        <th>@L["For"]</th>
        <th>@L["Validated by"]</th>
        <th>@L["Validated at"]</th>
        <th>@L["Expires"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var authentication in Model.Authentications)
    {
        <partial name="_RealNameAuthenticationRow" model="authentication"/>
    }
    </tbody>
</table>