@page
@model IndexModel
@{
    ViewBag.Title = L["Real-name center"];
}
<h1>@L["Real-name center"]</h1>
<a asp-page="Authentications">@L["Authentications"]</a>

<h2>@L["10 Pending Requests"]</h2>
<a asp-page="Requests">@L["More"]</a>
<div class="list-group list-group-flush">
    @foreach (var request in Model.PendingRequests)
    {
        <div class="list-group-item">
            @Html.DisplayFor(m => request)
        </div>
    }
</div>