@inject ConfigurationDbContext dbContext
@{
    Layout = "Shared/_Layout";
    Duende.IdentityServer.EntityFramework.Entities.Client? client = default!;
    if (int.TryParse(this.ViewContext.RouteData.Values["anchor"]?.ToString(), out int clientId))
    {
        client = this.dbContext.Clients.FirstOrDefault(p => p.Id == clientId);

    }
    this.ViewBag.Title = $"{client?.ClientName} - {this.ViewBag.Title}";
}
@section Heads{
    @RenderSection("Heads", false)
}

@section Breadcrumb{
    <li class="breadcrumb-item"><a asp-page="/Clients/Index">@L["Clients"]</a></li>
}
@section PageHeader{
    <h1>@client?.ClientName</h1>
}
<div class="card">
    <div class="row">
        <div class="col-12 col-md-2 border-end">
            <div class="card-body">
                <div class="list-group list-group-transparent">
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)" asp-match-prefix="false" asp-page="Index" asp-route-anchor="@this.ViewContext.RouteData.Values["anchor"]">@L["Overview"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/Consent" asp-page="Consent" asp-route-anchor="@this.ViewContext.RouteData.Values["anchor"]">@L["Consent"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/Secrets" asp-page="Secrets" asp-route-anchor="@this.ViewContext.RouteData.Values["anchor"]">@L["Secrets"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/GrantTypes" asp-page="GrantTypes" asp-route-anchor="@this.ViewContext.RouteData.Values["anchor"]">@L["Grant types"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/Scopes" asp-page="Scopes" asp-route-anchor="@this.ViewContext.RouteData.Values["anchor"]">@L["Scopes"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/CallbackUris" asp-page="CallbackUris" asp-route-anchor="@this.ViewContext.RouteData.Values["anchor"]">@L["Callbacks"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/Claims" asp-page="Claims" asp-route-anchor="@this.ViewContext.RouteData.Values["anchor"]">@L["Claims"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/Cors" asp-page="Cors" asp-route-anchor="@this.ViewContext.RouteData.Values["anchor"]">@L["CORS"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/IdPRestriction" asp-page="IdPRestriction" asp-route-anchor="@this.ViewContext.RouteData.Values["anchor"]">@L["IdP Restriction"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/Advanced" asp-page="Advanced" asp-route-anchor="@this.ViewContext.RouteData.Values["anchor"]">@L["Advanced"]</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 d-flex flex-column">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    @RenderSection("Scripts", false)
}
