@using Duende.IdentityServer.EntityFramework.Entities
@inject ConfigurationDbContext DbContext
@{
    Layout = "Shared/_Layout";
    Client? client = null!;
    if (int.TryParse(ViewContext.RouteData.Values["anchor"]?.ToString(), out var clientId))
    {
        client = DbContext.Clients.FirstOrDefault(p => p.Id == clientId);
    }

    ViewBag.Title = $"{client?.ClientName} - {ViewBag.Title}";
}

@section head{
    @await RenderSectionAsync("head", false)
}

@section Breadcrumb{
    <li class="breadcrumb-item">
        <a asp-page="/Clients/Index">@L["Clients"]</a>
    </li>
}

@section PageHeader{
    <h1>@client?.ClientName</h1>
}

<div class="card">
    <div class="row">
        <div class="col-12 col-md-2 border-end">
            <div class="card-body">
                <div class="list-group list-group-transparent">
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)!" asp-page="Index" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Overview"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/Consent" asp-page="Consent" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Consent"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/Secrets" asp-page="Secrets" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Secrets"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/GrantTypes" asp-page="GrantTypes" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Grant types"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/Scopes" asp-page="Scopes" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Scopes"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/CallbackUris" asp-page="CallbackUris" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Callbacks"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/Claims" asp-page="Claims" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Claims"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/Cors" asp-page="Cors" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["CORS"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/IdPRestriction" asp-page="IdPRestriction" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["IdP Restriction"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/OpenIDConnect/Clients/Detail/@(clientId)/Advanced" asp-page="Advanced" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Advanced"]</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 d-flex flex-column">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @await RenderSectionAsync("Scripts", false)
}