@page "{secretId}"
@model             EditSecretModel
@{
}
<h1>@L["Edit Secret"]</h1>

<dl>
    <dt>@SL["Type"]</dt>
    <dd>@Model.Secret.Type</dd>
    <dt>@L["Value Identifier"]</dt>
    <dd>@Model.Secret.Value[..8]</dd>
    <dt>@L["Created at"]</dt>
    <dd>@Model.Secret.Created</dd>
</dl>

<form method="post">
    <div class="mb-3">
        <label asp-for="Input.Expires" class="form-label"></label>
        <input asp-for="Input.Expires" class="form-control" />
        <span asp-validation-for="Input.Expires" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Description" class="form-label"></label>
        <input asp-for="Input.Description" class="form-control" />
        <span asp-validation-for="Input.Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">@SL["Apply changes"]</button>
    <a asp-page="Secrets" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]" class="btn btn-secondary">@SL["Back"]</a>
</form>

<h2>@L["Delete Secret"]</h2>
<form method="post" asp-page-handler="RemoveSecret">
    <button type="submit" class="btn btn-danger" onclick="return confirm('Delete secret?');">@L["Delete Secret"]</button>
</form>