@page
@model GrantTypesModel
@{
    ViewBag.Title = L["Grant types"];
}

<h2>@L["Grant types"]</h2>
<form method="post">
    <ul class="list-group">
        @for (var i = 0; i < Model.AllowedGrantTypes.Count; i++)
        {
            <li class="list-group-item">
                @* ReSharper disable AccessToModifiedClosure *@
                <label asp-for="AllowedGrantTypes[i].Selected" class="form-check-label">
                    <input asp-for="AllowedGrantTypes[i].Selected" class="form-check-input">
                    <span>@Model.AllowedGrantTypes[i].Value (@Model.AllowedGrantTypes[i].Text)</span>
                    <input asp-for="AllowedGrantTypes[i].Text" type="hidden">
                    <input asp-for="AllowedGrantTypes[i].Value" type="hidden">
                </label>
                @* ReSharper restateStore AccessToModifiedClosure *@
            </li>
        }
    </ul>
    <div asp-validation-summary="All" class="text-danger"></div>
    <p class="text-warning">* @L["Some grant type combined is conflicted, system will check conflict before applying changes."]</p>
    <button type="submit" class="btn btn-primary">@SL["Apply changes"]</button>
    <p>@Model.OperationMessage</p>
</form>
