@page
@model ScopesModel
@{
}
<h3>Client allowed scopes</h3>

<form method="post">
    <ul class="list-group">
        @for (var i = 0; i < Model.ScopeItems.Count; i++)
        {
            <li class="list-group-item">
                @* ReSharper disable AccessToModifiedClosure *@
                <label asp-for="ScopeItems[i].Selected" class="form-check-label">
                    <input asp-for="ScopeItems[i].Selected" class="form-check-input" disabled="@Model.ScopeItems[i].Disabled">
                    <span>@Model.ScopeItems[i].Value (@Model.ScopeItems[i].Text)</span>
                    <input asp-for="ScopeItems[i].Text" type="hidden">
                    <input asp-for="ScopeItems[i].Value" type="hidden">
                    <input asp-for="ScopeItems[i].Disabled" type="hidden">
                </label>
                @* ReSharper restateStore AccessToModifiedClosure *@
            </li>
        }
    </ul>
    <button type="submit" class="btn btn-primary">Apply changes</button>
    <p>@Model.OperationMessage</p>
</form>

<p>@L["About all available scopes, see <a href=\"#\">here</a>."]</p>