@page "{id}"
@model SecretsModel
@{
}
<h3>Client Secrets</h3>
<table class="table">
    <thead>
        <tr>
            <td>Type</td>
            <td>Hash</td>
            <td>Description</td>
            <td>Created</td>
            <td>Expires</td>
            <td>Operations</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var secret in this.Model.Data.ClientSecrets)
        {
            <tr>
                <td>@secret.Type</td>
                <td>@(secret.Value[..8])</td>
                <td>@secret.Description</td>
                <td>@secret.Created</td>
                <td>@(secret.Expiration.HasValue ? secret.Expiration.Value : "N/A")</td>
                <td><a asp-page="EditSecret" asp-route-id="@this.Model.Data.Id" asp-route-secretId="@secret.Id" class="btn btn-sm btn-primary">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="CreateSecret" asp-route-id="@this.ViewContext.RouteData.Values["id"]" class="btn btn-primary">Create secret</a>