@page
@model SecretsModel
@{
}
<h2>@L["Client secrets"]</h2>
<table class="table">
    <thead>
    <tr>
        <th>@L["Type"]</th>
        <th>@L["Hash"]</th>
        <th>@L["Description"]</th>
        <th>@L["Created at"]</th>
        <th>@L["Expires in"]</th>
        <th>@L["Operations"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var secret in Model.Data.ClientSecrets)
    {
        <tr>
            <td>@secret.Type</td>
            <td>@(secret.Value[..8])</td>
            <td>@secret.Description</td>
            <td>@secret.Created</td>
            <td>@(secret.Expiration.HasValue ? secret.Expiration.Value : "N/A")</td>
            <td>
                <a asp-page="EditSecret" asp-route-anchor="@Model.Data.Id" asp-route-secretId="@secret.Id" class="btn btn-sm btn-primary">@L["Edit"]</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-page="CreateSecret" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]" class="btn btn-primary">@L["Create secret"]</a>