@page "{id}"
@model SecretsModel
@{
}
<h3>客户端密钥</h3>
<table class="table">
    <thead>
        <tr>
            <td>类型</td>
            <td>哈希标识</td>
            <td>描述</td>
            <td>创建时间</td>
            <td>有效期</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var secret in this.Model.Data.ClientSecrets)
        {
            <tr>
                <td>@secret.Type</td>
                <td>@(secret.Value[..8])</td>
                <td>@secret.Description</td>
                <td>@secret.Created</td>
                <td>@(secret.Expiration.HasValue ? secret.Expiration.Value : "长期")</td>
                <td><a asp-page="EditSecret" asp-route-id="@this.Model.Data.Id" asp-route-secretId="@secret.Id" class="btn btn-sm btn-primary">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="CreateSecret" asp-route-id="@this.ViewContext.RouteData.Values["id"]" class="btn btn-primary">创建密钥</a>