@page "{id}"
@model IndexModel
@{
}

<h3>Identity Provider: @this.Model.Data.Scheme</h3>

<h4>@localizer["Summary"]</h4>

<dl>
    <dt>@localizer["Scheme"]</dt>
    <dd>@this.Model.Data.Scheme</dd>
    <dt>@localizer["Display Name"]</dt>
    <dd>@this.Model.Data.DisplayName</dd>
    <dt>@localizer["Type"]</dt>
    <dd>@this.Model.Data.Type</dd>
    <dt>@localizer["Enabled"]</dt>
    <dd>@this.Model.Data.Enabled</dd>
    <dt>@localizer["Created at"]</dt>
    <dd>@this.Model.Data.Created</dd>
</dl>

<h4>@localizer["Operations"]</h4>

<a asp-page="Delete" asp-route-id="@this.Model.Data.Id" class="btn btn-danger">Delete</a>