@{
    Layout = "Shared/_Layout";
}

<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-md-2 border-end">
                    <div class="card-body">
                        <div class="list-group list-group-transparent">
                            <a asp-page="/Settings/Index" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]" class="list-group-item list-group-item-action d-flex align-items-center">@L["General"]</a>
                            <a asp-page="/Settings/FapiaoInfo" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]" class="list-group-item list-group-item-action d-flex align-items-center">@L["Fapiao info"]</a>
                            <a asp-page="/Settings/Advanced/Index" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]" class="list-group-item list-group-item-action d-flex align-items-center">@L["Advanced"]</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-10 d-flex flex-column">
                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>