@{
    Layout = "Shared/_Layout";
    var anchor = ViewContext.RouteData.Values["anchor"]!;
}

<div class="container-xl">
    <div class="card">
        <div class="row g-0">
            <div class="col-12 col-md-2 border-end">
                <div class="card-body">
                    <div class="list-group list-group-transparent">
                        <a asp-path="/Organization/@(anchor)/Settings!" asp-page="/Settings/Index" asp-route-anchor="@anchor" class="list-group-item list-group-item-action d-flex align-items-center">@L["General"]</a>
                        <a asp-path="/Organization/@(anchor)/Settings/Financial" asp-page="/Settings/Financial/Index" asp-route-anchor="@anchor" class="list-group-item list-group-item-action d-flex align-items-center">@L["Financial"]</a>
                        <a asp-path="/Organization/@(anchor)/Settings/Fapiao" asp-page="/Settings/Fapiao" asp-route-anchor="@anchor" class="list-group-item list-group-item-action d-flex align-items-center">@L["Fapiao info"]</a>
                        <a asp-path="/Organization/@(anchor)/Settings/Advanced" asp-page="/Settings/Advanced/Index" asp-route-anchor="@anchor" class="list-group-item list-group-item-action d-flex align-items-center">@L["Advanced"]</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10 d-flex flex-column">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}