@page
@model IndexModel
@{
    this.ViewBag.Title = this.localizer["Identity Providers"].Value;
}
<h3>@ViewBag.Title</h3>

<table class="table">
    <thead>
        <tr>
            <td>@localizer["Scheme"]</td>
            <td>@localizer["Enabled"]</td>
            <td>@localizer["DisplayName"]</td>
            <td>@localizer["Type"]</td>
            <td>@localizer["Created at"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var idp in this.Model.Results)
        {
            <tr>
                <td><a asp-page="Detail" asp-route-id="@idp.Id">@idp.Scheme</a></td>
                <td>@idp.Enabled</td>
                <td>@idp.DisplayName</td>
                <td>@idp.Type</td>
                <td>@idp.Created</td>
            </tr>
        }
    </tbody>
</table>