@{
    Layout = "Shared/_Layout";
}
@section Heads{
    @RenderSection("Heads", false)
}
@section Scripts
    {
    @RenderSection("Scripts", false)
}
<hr />
<div class="row">
    <div class="col-2">
        <nav class="nav flex-column">
            <a class="nav-link" asp-page="Index" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@L["Overview"]</a>
            <a class="nav-link" asp-page="Secrets" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@L["Secrets"]</a>
            <a class="nav-link" asp-page="Scopes" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@L["Scopes"]</a>
            <a class="nav-link" asp-page="Claims" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@L["User Claims"]</a>
            <a class="nav-link" asp-page="Advanced" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@L["Advanced"]</a>
        </nav>
    </div>
    <div class="col-10">
        @RenderBody()
    </div>
</div>
