@page "{id}"
@model AdminWebApp.Areas.OpenIDConnect.Pages.ApiResources.Detail.IndexModel
@{
}
<h3>@Model.Data.DisplayName</h3>

<h4>@L["Overview"]</h4>
<dl class="row">
    <dt class="col-3">@L["Resource ID"]</dt>
    <dd class="col-9">@Model.Data.Name</dd>
    <dt class="col-3">@L["Created at"]</dt>
    <dd class="col-9">@Model.Data.Created</dd>
    <dt class="col-3">@L["Last update at"]</dt>
    <dd class="col-9">@Model.Data.Updated</dd>
    <dt class="col-3">@L["Allowed access token signing algorithms"]</dt>
    <dd class="col-9">@Model.Data.AllowedAccessTokenSigningAlgorithms</dd>
    <dt class="col-3">@L["Show in discovery document"]</dt>
    <dd class="col-9">@Model.Data.ShowInDiscoveryDocument</dd>
    <dt class="col-3">@L["Require resource indicator"]</dt>
    <dd class="col-9">@Model.Data.RequireResourceIndicator</dd>
</dl>

<h4>@L["Secrets"]</h4>

<table class="table">
    <thead>
        <tr>
            <td>@L["Type"]</td>
            <td>@L["Hash"]</td>
            <td>@L["Description"]</td>
            <td>@L["Created at"]</td>
            <td>@L["Expires in"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var secret in Model.Data.Secrets)
        {
            <tr>
                <td>@secret.Type</td>
                <td>@secret.Value.Substring(secret.Value.Length - 5)</td>
                <td>@secret.Description</td>
                <td>@secret.Created</td>
                <td>@(secret.Expiration.HasValue ? secret.Expiration.Value : "N/A")</td>
            </tr>
        }
    </tbody>
</table>

<h4>@L["Scopes"]</h4>
<ul>
    @foreach (var scope in Model.Data.Scopes)
    {
        <li>@scope.Scope</li>
    }
</ul>

<h4>@L["Claims"]</h4>

<table class="table">
    <thead>
        <tr>
            <td>@L["Type"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model.Data.UserClaims)
        {
            <tr>
                <td>@claim.Type</td>
            </tr>
        }
    </tbody>
</table>

<h4>@L["Properties"]</h4>

<table class="table">
    <thead>
        <tr>
            <td>@SL["Key"]</td>
            <td>@SL["Value"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var prop in Model.Data.Properties)
        {
            <tr>
                <td>@prop.Key</td>
                <td>@prop.Value</td>
            </tr>
        }
    </tbody>
</table>


<h4>@L["Operations"]</h4>
@if (Model.Data.NonEditable)
{
    <p>@L["This is a system resource, can not be delete."]</p>
}
else
{
    <a asp-page="Delete" asp-route-id="@Model.Data.Id" class="btn btn-danger">@L["Delete API Resource"]</a>
}