@page "{id}"
@model AdminWebApp.Areas.OpenIDConnect.Pages.ApiResources.Detail.ScopesModel
@{
}

<h2>@L["Scopes"]</h2>
<form method="post" asp-page-handler="Remove">


    <table class="table">
        <thead>
            <tr>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var scope in Model.Data.Scopes)
            {
                <tr>
                    <td>@scope.Scope</td>
                    <td><button type="submit" name="scopeId" value="@scope.Id" class="btn btn-danger" onclick="return confirm('@L["Are you sure you want remove this claim?"]');">@L["Remove"]</button></td>
                </tr>
            }
        </tbody>
    </table>
</form>

<div class="card">
    <div class="card-header">
        <h3>@L["Add scope"]</h3>
    </div>
    <div class="card-body">
        <form method="post" asp-page-handler="Add">
            <label asp-for="SelectedScope" class="form-label"></label>
            <select asp-for="SelectedScope" class="form-control">
                @foreach(var scope in Model.RemainingScopes)
                {
                    <option value="@scope">@scope</option>
                }
            </select>
            <button type="submit" class="btn btn-primary">@L["Add"]</button>
        </form>
    </div>
</div>