@page "{id}"
@model SecretsModel
@{
}

<h2>@L["Secrets"]</h2>
<form method="post" asp-page-handler="Remove">
    <table class="table">
        <thead>
        <tr>
            <th>@L["Type"]</th>
            <th>@L["Description"]</th>
            <th>@L["Value"]</th>
            <th>@L["Created at"]</th>
            <th>@L["Expires in"]</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var secret in Model.Data.Secrets)
        {
            <tr>
                <td>@secret.Type</td>
                <td>@secret.Description</td>
                <td>@secret.Value[..8]</td>
                <td>@secret.Created</td>
                <td>@secret.Expiration</td>
                <td>
                    <button type="submit" class="btn btn-danger btn-sm" name="secretId" value="@secret.Id" onclick="return confirm('@L["Are you sure you want to remove this secret?"]');">@SL["Delete"]</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>

<a asp-page="NewSecret" asp-route-id="@ViewContext.RouteData.Values["id"]" class="btn btn-primary">@L["New secret"]</a>