@page "{id}"
@model AdminWebApp.Areas.OpenIDConnect.Pages.ApiResources.Detail.SecretsModel
@{
}

<h2>Secrets</h2>
<form method="post" asp-page-handler="Remove">
    <table class="table">
        <thead>
            <tr>
                <td>Type</td>
                <td>Description</td>
                <td>Value</td>
                <td>Created at</td>
                <td>Expires at</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var secret in Model.Data.Secrets)
            {
                <tr>
                    <td>@secret.Type</td>
                    <td>@secret.Description</td>
                    <td>@secret.Value[..8]</td>
                    <td>@secret.Created</td>
                    <td>@secret.Expiration</td>
                    <td>
                        <button type="submit" class="btn btn-danger btn-sm" name="secretId" value="@secret.Id" onclick="return confirm('@L["Are you sure you want to remove this secret?"]');">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<a asp-page="NewSecret" asp-route-id="@ViewContext.RouteData.Values["id"]" class="btn btn-primary">New Secret</a>