@page
@model SearchModel
@{
    this.ViewBag.Title = "Search People";
}

<div class="page-body">
    <div class="container-xl">
        <partial name="_SearchInputPart" />

        @if (this.Model.Results.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Gender</td>
                        <td>Account name</td>
                        <td>Mobile phone number</td>
                        <td>Age</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var person in Model.Results)
                    {
                        <tr>
                            <td>
                                <img src="@(this.Url.Page("Detail/Index", "Photo", new{ Anchor = person.Id }))" class="img-fluid img-thumbnail" width="36" />
                                <a asp-page="Detail/Index" asp-route-anchor="@person.Id">@person.Name</a>
                            </td>
                            <td>@Html.DisplayFor(m => person.Sex)</td>
                            <td>@person.UserName</td>
                            <td>@person.PhoneNumber</td>
                            <td>@Html.DisplayFor(m => person.DateOfBirth, "Age")</td>
                        </tr>
                    }
                </tbody>
            </table>


        }
        else
        {
            <p>No results.</p>
        }

    </div>
</div>