@using System.Net
@using Microsoft.AspNetCore.Authentication
@inject IHostEnvironment env
@inject IOptions<SystemUrlInfo> systemUrl
@if (env.IsDevelopment())
{
    <hr />
    <div class="card card-sm border-blue">
        <div class="card-header">
            <h1>Debug Panel</h1>
        </div>
        <div class="card-body">
            <h2>Useful links</h2>
            <ul>
                <li><a href="@(new Uri(systemUrl.Value.AuthCenterUrl, $"/People/{WebUtility.UrlEncode("liubei@sanguo.net")}"))">Liubei's profile page</a></li>
                <li><a href="@(new Uri(systemUrl.Value.AuthCenterUrl, $"/People/{WebUtility.UrlEncode("guanyu@sanguo.net")}"))">Guanyu's profile page</a></li>
                <li><a href="@(new Uri(systemUrl.Value.AuthCenterUrl, $"/Organization/{WebUtility.UrlEncode("汉王事业集团")}"))">汉王事业集团 profile page</a></li>
                <li><a href="@(new Uri(systemUrl.Value.AuthCenterUrl, $"/Organization/{WebUtility.UrlEncode("北魏实业集团")}"))">北魏实业集团 profile page</a></li>
            </ul>
            <h2>Route Data</h2>
            <ul>
                @foreach(var routeValue in ViewContext.RouteData.Values)
                {
                    <li>@routeValue.Key : @routeValue.Value</li>
                }
            </ul>
            <h2>Access user</h2>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <td>Type</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var claim in this.User.Claims)
                    {
                        <tr>
                            <td>@claim.Type</td>
                            <td>@claim.Value</td>
                        </tr>
                    }
                </tbody>
            </table>

            <h2>Tokens</h2>
            <table class="table">
                <thead>
                    <tr>
                        <td>Type</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>access_token</td>
                        <td style="word-break:break-all;"><code>@(await Context.GetTokenAsync("access_token"))</code></td>
                    </tr>
                    <tr>
                        <td>id_token</td>
                        <td style="word-break:break-all;"><code>@(await Context.GetTokenAsync("id_token"))</code></td>
                    </tr>
                    <tr>
                        <td>refresh_token</td>
                        <td style="word-break:break-all;"><code>@(await Context.GetTokenAsync("refresh_token"))</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
