@using System.Globalization
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title - @Product.Value.Name @L["Management Center"]</title>
    }
    else
    {
        <title>@Product.Value.Name @L["Management Center"]</title>
    }
    @await RenderSectionAsync("head", false)
</head>
<body>
@RenderBody()
</body>
</html>