@using AlphaIdPlatform.Security
@using Microsoft.AspNetCore.Mvc.TagHelpers
@if (User.Identity!.IsAuthenticated)
{
    <div class="nav-item dropdown">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <span class="avatar avatar-sm" style="background-image: url('@User.AvatarUrl()')"></span>
            <div class="d-none d-xl-block ps-2">
                <div>@User.Identity?.Name</div>
                <div class="mt-1 small text-secondary">@User.DisplayRoles()</div>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a href="@User.ProfileUrl()" target="_blank" class="dropdown-item">@L["Profile &amp; Account"]</a>
            <a href="#" class="dropdown-item">@L["Feedback"]</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">@L["Settings"]</a>
            <a asp-area="" asp-page="/Account/SignOut" class="dropdown-item">@L["Sign out"]</a>
        </div>
    </div>
}
else
{
    <div class="nav-item">

    </div>
}