@inject SignInManager<NaturalPerson> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" asp-page="/Index" asp-path="/MyAccount" asp-match-prefix="false">@L["General"]</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="/Email" asp-path="/MyAccount/Email">@L["Email"]</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="/Mobile" asp-path="/MyAccount/Mobile">@L["Contacts"]</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="/ChangePassword" asp-path="/MyAccount/ChangePassword">@L["Password"]</a></li>
    @if (hasExternalLogins)
    {
        <li class="nav-item"><a class="nav-link" asp-page="/ExternalLogins" asp-path="/MyAccount/ExternalLogins">@L["External logins"]</a></li>
    }
    <li class="nav-item"><a class="nav-link" asp-page="/TwoFactorAuthentication" asp-path="/MyAccount/TwoFactorAuthentication">@L["2-Fa Authentication"]</a></li>
    <li class="nav-item"><a class="nav-link" asp-page="/PersonalData" asp-path="/MyAccount/PersonalData">@L["Personal Data"]</a></li>
</ul>
