@page
@model MobileModel
@{
    this.ViewBag.Title = this.localizer["Manage your phone number"];
}
<h2>@ViewBag.Title</h2>

@if(!string.IsNullOrEmpty(this.Model.OperationMessage))
{
    <div class="alert alert-info">
        @this.Model.OperationMessage
    </div>
}

<p>@localizer["Current phone number"]</p>
<div class="form-group">
    <label asp-for="Mobile" class="form-label"></label>
    <input asp-for="Mobile" class="form-control" disabled />
</div>


<form method="post">
    <div class="form-group">
        <label asp-for="NewMobile" class="form-label"></label>
        <input asp-for="NewMobile" class="form-control" />
        <span asp-validation-for="NewMobile" class="text-danger"></span>
    </div>
    <button class="btn btn-secondary" type="submit" asp-page-handler="SendVerificationCode" formnovalidate>@localizer["Send code"]</button>
    @if(this.Model.VerificationCodeSent)
    {
        <span>@localizer["Code has been sent"]</span>
    }
    <div class="form-group">
        <label asp-for="VerificationCode" class="form-label"></label>
        <input asp-for="VerificationCode" class="form-control" />
        <span asp-validation-for="VerificationCode" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" asp-page-handler="">@localizer["Update phone number"]</button>
</form>