@page
@model AuthCenterWebApp.Areas.Organization.Pages.Settings.Identifiers.IndexModel
@{
    ViewBag.Title = L["Identifiers"];
}
@Html.DisplayFor(m => m.Result)
<h2>@L["Identifiers"]</h2>
<form method="post" asp-page-handler="Remove">
    <table class="table">
        <thead>
            <tr>
                <td>@L["Type"]</td>
                <td>@L["Value"]</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @if (Model.Identifiers.Any())
            {
                foreach (var identifier in Model.Identifiers)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => identifier.Type)</td>
                        <td>@identifier.Value</td>
                        <td>
                            <button type="submit" class="btn btn-sm btn-danger" name="idKey" value="@($"{identifier.Type}|{identifier.Value}")" onclick="return confirm('@(L["Are you sure you want to remove this identifier?"])');">@L["Remove"]</button>
                        </td>
                    </tr>
                }
            }
            else
            {
            <td colspan="3">@L["No results."]</td>
            }
        </tbody>
    </table>
</form>
<a asp-page="Add" asp-route-anchor="@RouteData.Values["anchor"]" class="btn">@L["Add Identifier"]</a>