@page
@model Index
@{
    Layout = "Tabler/_Page_Center";
}
<div class="container container-narrow py-4">
    <div class="text-center mb-4">
        <a asp-area="" asp-page="/Index" class="navbar-brand navbar-brand-autodark">
            <img src="/logo.png" width="32" height="32" alt="Tabler" class="navbar-brand-image">
            @Product.Value.Name @L["Account"]
        </a>
    </div>
    <div class="card card-md">
        <div class="card-body">
            <div class="page-consent">
                <div class="lead">
                    @if (Model.View.ClientLogoUrl != null)
                    {
                        <div class="client-logo">
                            <img src="@Model.View.ClientLogoUrl">
                        </div>
                    }
                    <h1>
                        @Model.View.ClientName
                        <small class="text-muted">@L["is requesting your permission"]</small>
                    </h1>
                    <p>@L["Uncheck the permissions you do not wish to grant."]</p>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <partial name="_ValidationSummary"/>
                    </div>
                </div>

                <form asp-page="/Consent/Index">
                    <input type="hidden" asp-for="Input.ReturnUrl"/>
                    @if (Model.View.IdentityScopes.Any())
                    {
                        <div class="form-group">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <span class="glyphicon glyphicon-user"></span>
                                    @L["Personal information"]
                                </div>
                                <ul class="list-group list-group-flush">
                                    @foreach (var scope in Model.View.IdentityScopes)
                                    {
                                        <partial name="_ScopeListItem" model="@scope"/>
                                    }
                                </ul>
                            </div>
                        </div>
                    }

                    @if (Model.View.ApiScopes.Any())
                    {
                        <div class="form-group">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <span class="glyphicon glyphicon-tasks"></span>
                                    @L["Application access"]
                                </div>
                                <ul class="list-group list-group-flush">
                                    @foreach (var scope in Model.View.ApiScopes)
                                    {
                                        <partial name="_ScopeListItem" model="scope"/>
                                    }
                                </ul>
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <div class="card mb-3">
                            <div class="card-header">
                                <span class="glyphicon glyphicon-pencil"></span>
                                @SL["Description"]
                            </div>
                            <div class="card-body">
                                <input class="form-control" placeholder="@L["Description or name of device"]" asp-for="Input.Description" autofocus>
                            </div>
                        </div>
                    </div>

                    @if (Model.View.AllowRememberConsent)
                    {
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Input.RememberConsent">
                                <label class="form-check-label" asp-for="Input.RememberConsent">
                                    <strong>@L["Remember My Decision"]</strong>
                                </label>
                            </div>
                        </div>
                    }

                    <button name="Input.button" value="yes" class="btn btn-primary" autofocus>@L["Yes, Allow"]</button>
                    <button name="Input.button" value="no" class="btn btn-secondary">@L["No, Do Not Allow"]</button>
                    @if (Model.View.ClientUrl != null)
                    {
                        <a class="btn btn-outline-info" href="@Model.View.ClientUrl">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            <strong>@Model.View.ClientName</strong>
                        </a>
                    }
                </form>
            </div>
        </div>
    </div>
</div>