@using IDSubjects.RealName;
@model ChineseIDCardValidation?

@if (Model != null)
{
    <p>Card number: @Model.ChineseIDCard?.CardNumber</p>
    <p>Issued at: @Model.ChineseIDCard?.IssueDate</p>
    <p>Ethnicity: @Model.ChineseIDCard?.Ethnicity</p>
    <p>Address: @Model.ChineseIDCard?.Address</p>
    <p>Issuer: @Model.ChineseIDCard?.Issuer</p>
}
else
{
    <p>No identity info.</p>
}