@using IDSubjects.RealName;
@model ChineseIdCardValidation?

@if (Model != null)
{
    <p>Card number: @Model.ChineseIdCard?.CardNumber</p>
    <p>Issued at: @Model.ChineseIdCard?.IssueDate</p>
    <p>Ethnicity: @Model.ChineseIdCard?.Ethnicity</p>
    <p>Address: @Model.ChineseIdCard?.Address</p>
    <p>Issuer: @Model.ChineseIdCard?.Issuer</p>
}
else
{
    <p>No identity info.</p>
}