@page "{orgId}"
@model OfModel
@{
    ViewBag.Title = L["Membership of {0}", Model.Member.Organization.Name];
}

@Html.DisplayFor(m => m.OperationResult)
<div class="row">
    <div class="col-auto">
        
    </div>
    <div class="col"><h2>@ViewBag.Title</h2></div>
</div>

<form method="post">
    <div class="mb-3">
        <label asp-for="Input.Title" class="form-label"></label>
        <input asp-for="Input.Title" class="form-control" />
        <span asp-validation-for="Input.Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Department" class="form-label"></label>
        <input asp-for="Input.Department" class="form-control" />
        <span asp-validation-for="Input.Department" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Remark" class="form-label"></label>
        <input asp-for="Input.Remark" class="form-control" />
        <span asp-validation-for="Input.Remark" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="Input.IsOwner" class="form-check-input" />
        <label asp-for="Input.IsOwner" class="form-check-label"></label>
        <span asp-description-for="Input.IsOwner" class="form-check-description"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.Visibility" class="form-label"></label>
        <select asp-for="Input.Visibility" asp-items="@Model.MembershipVisibilities" class="form-select"></select>
    </div>
    <button type="submit" class="btn btn-primary">@L["Apply changes"]</button>
    <a asp-page="Index" asp-route-anchor="@RouteData.Values["anchor"]" class="btn">@L["Back"]</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}