@page
@model             IndexModel
@{
    this.ViewBag.Title = "标识资源";
}

<h3>标识资源</h3>

<table class="table">
    <thead>
        <tr>
            <td>@localizer["Name"]</td>
            <td>@localizer["Display name"]</td>
            <td>@localizer["Description"]</td>
            <td>@localizer["Enabled"]</td>
            <td>@localizer["Emphasize"]</td>
            <td>@localizer["Show in discovery doc"]</td>
            <td>@localizer["Created at"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var idr in Model.Results)
        {
            <tr>
                <td><a asp-page="Detail" asp-route-id="@idr.Id">@idr.Name</a></td>
                <td>@idr.DisplayName</td>
                <td>@idr.Description</td>
                <td><input asp-for="@idr.Enabled" class="form-check-input" disabled /></td>
                <td><input asp-for="@idr.Emphasize" class="form-check-input" disabled /></td>
                <td><input asp-for="@idr.ShowInDiscoveryDocument" class="form-check-input" disabled /></td>
                <td>@idr.Created</td>
            </tr>
        }
    </tbody>
</table>