@page "{id}"
@model             DetailModel
@{
}

<h3>@Model.Data.DisplayName</h3>

<h4>概要</h4>
<dl class="row">
    <dt class="col-3">资源ID</dt>
    <dd class="col-9">@Model.Data.Id</dd>
    <dt class="col-3">创建时间</dt>
    <dd class="col-9">@Model.Data.Created</dd>
    <dt class="col-3">更新时间</dt>
    <dd class="col-9">@Model.Data.Updated</dd>
    <dt class="col-3">允许的Access Token签名算法</dt>
    <dd class="col-9">@Model.Data.AllowedAccessTokenSigningAlgorithms</dd>
    <dt class="col-3">在发现文档中显示</dt>
    <dd class="col-9">@Model.Data.ShowInDiscoveryDocument</dd>
    <dt class="col-3">Require Resource Indicator</dt>
    <dd class="col-9">@Model.Data.RequireResourceIndicator</dd>
</dl>

<h4>Secrets</h4>

<table class="table">
    <thead>
        <tr>
            <td>类型</td>
            <td>哈希</td>
            <td>描述</td>
            <td>创建时间</td>
            <td>过期时间</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var secret in this.Model.Data.Secrets)
        {
            <tr>
                <td>@secret.Type</td>
                <td>@secret.Value.Substring(secret.Value.Length - 5)</td>
                <td>@secret.Description</td>
                <td>@secret.Created</td>
                <td>@(secret.Expiration.HasValue ? secret.Expiration.Value : "长期")</td>
            </tr>
        }
    </tbody>
</table>

<h4>Scopes</h4>
<ul>
    @foreach (var scope in this.Model.Data.Scopes)
    {
        <li>@scope.Scope</li>
    }
</ul>

<h4>Claims</h4>

<table class="table">
    <thead>
        <tr>
            <td>Type</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in this.Model.Data.UserClaims)
        {
            <tr>
                <td>@claim.Type</td>
            </tr>
        }
    </tbody>
</table>

<h4>属性</h4>

<table class="table">
    <thead>
        <tr>
            <td>Key</td>
            <td>Value</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var prop in this.Model.Data.Properties)
        {
            <tr>
                <td>@prop.Key</td>
                <td>@prop.Value</td>
            </tr>
        }
    </tbody>
</table>


<h4>操作</h4>
@if (this.Model.Data.NonEditable)
{
    <p>这是一个系统资源，不允许删除</p>
}
else
{
    <a asp-page="Delete" asp-route-id="@Model.Data.Id" class="btn btn-danger">Delete API Resource</a>
}