@page
@model             IndexModel
@{
    this.ViewBag.Title = localizer["API Resources"];
}
<h3>@localizer["API Resources"]</h3>

<a asp-page="Create" class="btn btn-primary">@localizer["Create API resource"]</a>

<table class="table">
    <thead>
        <tr>
            <td>@localizer["Name"]</td>
            <td>@localizer["Resource ID"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var data in this.Model.Results)
        {
            <tr>
                <td><a asp-page="Detail/Index" asp-route-id="@data.Id">@data.DisplayName</a></td>
                <td><a asp-page="Detail/Index" asp-route-id="@data.Id">@data.Name</a></td>
            </tr>
        }
    </tbody>
</table>