@page
@model DetailModel
@{
    this.ViewBag.Title = $"Detail of {this.Model.Data.Name}";
}

<h1>@this.Model.Data.Name</h1>

<dl>
    <dt>Server</dt>
    <dd>@this.Model.Data.ServerAddress</dd>
    <dt>Root DN</dt>
    <dd>@this.Model.Data.RootDN</dd>
    <dt>Default User OU</dt>
    <dd>@this.Model.Data.DefaultUserAccountOU</dd>
    <dt>UPN suffix</dt>
    <dd>@this.Model.Data.UpnSuffix</dd>
    <dt>SAM Domain Part</dt>
    <dd>@this.Model.Data.SAMDomainPart</dd>
    <dt>External Login Provider</dt>
    <dd>@this.Model.Data.ExternalLoginProviderName (@(this.Model.Data.ExternalLoginProvider))</dd>
</dl>

<a asp-page="Delete" asp-route-id="@this.Model.Data.Id" class="btn btn-danger">Delete service</a>