@page
@model             DetailModel
@{
    this.ViewData["title"] = $"Detail of {this.Model.Data.Name}";
}

<h1>@this.Model.Data.Name</h1>

<dl>
    <dt>服务地址</dt>
    <dd>@this.Model.Data.ServerAddress</dd>
    <dt>根DN</dt>
    <dd>@this.Model.Data.RootDN</dd>
    <dt>默认用户账户OU</dt>
    <dd>@this.Model.Data.DefaultUserAccountOU</dd>
    <dt>UPN后缀</dt>
    <dd>@this.Model.Data.UpnSuffix</dd>
    <dt>SAM Domain Part</dt>
    <dd>@this.Model.Data.SAMDomainPart</dd>
    <dt>External Login Provider</dt>
    <dd>@this.Model.Data.ExternalLoginProviderName (@(this.Model.Data.ExternalLoginProvider))</dd>
</dl>

<a asp-page="Delete" asp-route-id="@this.Model.Data.Id" class="btn btn-danger">删除服务</a>