@page
@model IndexModel
@{
    ViewBag.Title = "Directory Services Management";
}
<h1>Directory service</h1>

<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Server</td>
            <td>Root DN</td>
            <td>UPN suffix</td>
            <td>SAM Domain Part</td>
            <td>External Login Provider</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model.DirectoryServices)
        {
            <tr>
                <td><a asp-page="Detail" asp-route-id="@service.Id">@service.Name</a></td>
                <td>@service.ServerAddress</td>
                <td>@service.RootDn</td>
                <td>@service.UpnSuffix</td>
                <td>@service.SamDomainPart</td>
                <td>@service.ExternalLoginProviderName (@(service.ExternalLoginProvider))</td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="Create">Add directory service</a>