@page
@model             IndexModel
@{
    this.ViewBag.Title = "Directory Services Management";
}
<h1>目录服务</h1>

<table class="table">
    <thead>
        <tr>
            <td>名称</td>
            <td>服务地址</td>
            <td>根DN</td>
            <td>UPN后缀</td>
            <td>SAM Domain Part</td>
            <td>External Login Provider</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var service in this.Model.DirectoryServices)
        {
            <tr>
                <td><a asp-page="Detail" asp-route-id="@service.Id">@service.Name</a></td>
                <td>@service.ServerAddress</td>
                <td>@service.RootDN</td>
                <td>@service.UpnSuffix</td>
                <td>@service.SAMDomainPart</td>
                <td>@service.ExternalLoginProviderName (@(service.ExternalLoginProvider))</td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="Create">创建目录服务</a>