@page
@model DirectoryAccountsModel
@{
    ViewBag.Title = L["Directory accounts"];
}
<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
    <tr>
        <th>@L["Directory"]</th>
        <th>@L["Object Id"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var account in Model.LogonAccounts)
    {
        <tr>
            <td>@account.DirectoryService.Name</td>
            <td>@account.ObjectId</td>
        </tr>
    }
    </tbody>
</table>

<p>
    <a asp-page="CreateDirectoryAccount" asp-route-anchor="@Model.Person.Id">@L["Create new account"]</a>
</p>
<p>
    <a asp-page="BindDirectoryAccount" asp-route-anchor="@Model.Person.Id">@L["Bind exists account"]</a>
</p>