@page
@model IndexModel
@{
    ViewBag.Title = SL["Overview"];
}
<h2>@ViewBag.Title</h2>
@if (Model.OperationResultMessage != null)
{
    <div class="alert alert-success">
        @Model.OperationResultMessage
    </div>
}

<h3>@L["Identifiers"]</h3>
<p>@SL["User name"]: @Model.Data.UserName <a asp-page="SetUserName" asp-route-anchor="@Model.Data.Id" class="btn btn-sm">@L["Change user name"]</a></p>
<p>@SL["Email"]: @Model.Data.Email</p>
<p>@SL["Phone number"]: @Model.Data.PhoneNumber</p>


<p>Local login: @Model.HasPassword</p>
<p>Two-Factor Authentication (TOTP): @(Model.Data.TwoFactorEnabled)</p>
<p>Login failed counter：@Model.Data.AccessFailedCount</p>
<p>Password last set at： @(Model.Data.PasswordLastSet.HasValue ? Model.Data.PasswordLastSet.Value : "Never")</p>
@if (!Model.HasPassword)
{
    <p>
        <a asp-page="SetPassword" asp-route-anchor="@Model.Data.Id" class="btn btn-primary">Add local password</a>
    </p>
}
<p>
    <a asp-page="ResetPassword" asp-route-anchor="@Model.Data.Id" class="btn btn-primary">Reset local password</a>
</p>