@page
@model IndexModel
@{
    ViewBag.Title = SL["Overview"];
}
<h2>@ViewBag.Title</h2>
@if (Model.OperationResultMessage != null)
{
    <div class="alert alert-success">
        @Model.OperationResultMessage
    </div>
}

<h3>@L["Identifiers"]</h3>
<p>@SL["User name"]: @Model.Data.UserName <a asp-page="SetUserName" asp-route-anchor="@Model.Data.Id" class="btn btn-sm">@L["Change user name"]</a></p>
<p>
    @SL["Email"]: @Model.Data.Email
    @if (Model.Data.EmailConfirmed)
    {
        <span class="badge badge-outline text-green">@SL["Confirmed"]</span>
    }
    <a asp-page="SetEmail" asp-route-anchor="@Model.Data.Id" class="btn btn-sm">@L["Change email"]</a>
</p>
<p>
    @SL["Phone number"]: @Model.Data.PhoneNumber
    @if (Model.Data.PhoneNumberConfirmed)
    {
        <span class="badge badge-outline text-green">@SL["Confirmed"]</span>
    }
    <a asp-page="SetPhoneNumber" asp-route-anchor="@Model.Data.Id" class="btn btn-sm">@L["Change phone number"]</a>
</p>

<h3>@L["Password and authentication"]</h3>
<p>
    @L["Local login"]: @Html.DisplayFor(m => m.HasPassword, "YesOrNo")
    <a asp-page="ResetPassword" asp-route-anchor="@Model.Data.Id" class="btn btn-sm">@L["Reset local password"]</a>
    @if (Model.HasPassword)
    {
        <a asp-page="RemovePassword" asp-route-anchor="@Model.Data.Id" class="btn btn-sm">@L["Remove local password"]</a>
    }
</p>
<p>@L["Password last set"]： @(Model.Data.PasswordLastSet.HasValue ? Model.Data.PasswordLastSet.Value.LocalDateTime.ToString("G") : "Never")</p>
<p>Two-Factor Authentication (TOTP): @Html.DisplayFor(m => m.Data.TwoFactorEnabled, "YesOrNo")</p>
<p>@L["Lockout enabled"]: @Html.DisplayFor(m => m.Data.LockoutEnabled, "YesOrNo")</p>
<p>
    @L["Lockout state"]:
    @{
        bool lockedOut = false;
        if (Model.Data.LockoutEnd.HasValue)
        {
            lockedOut = Model.Data.LockoutEnd.Value > DateTimeOffset.UtcNow;
        }
    }
    @Html.DisplayFor(m => lockedOut, "YesOrNo")
</p>

<h3><a asp-page="ExternalLogins" asp-route-anchor="@Model.Data.Id" class="btn">@L["External logins"]</a></h3>

<h3><a asp-page="DirectoryAccounts" asp-route-anchor="@Model.Data.Id" class="btn">@L["Managed accounts"]</a></h3>