@page
@model DeleteModel
@{
}
<h2>@L["Deleting"] @Model.Data.Name</h2>

<p class="text-warning">@L["Please check the resources related to this scope. The scope could be delete without any resources related to it."]</p>

<vc:referenced-clients scope="@Model.Data.Name"></vc:referenced-clients>

<vc:referenced-api-resources scope="@Model.Data.Name"></vc:referenced-api-resources>


<p>@L["Entering scope name ({0}) for confirm.", Model.Data.Name]</p>

<form method="post">
    <div class="mb-3">
        <input asp-for="ScopeName" class="form-control" />
        <span asp-validation-for="ScopeName" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-danger">@L["Delete"]</button>
</form>