<div class="container-xl">
    <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-lg-auto ms-lg-auto">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                    @* ReSharper disable once Html.PathError *@
                    <a href="~/.well-known/openid-configuration" class="link-secondary" target="_blank">@L["Discovery document"]</a>
                </li>
                <li class="list-inline-item">
                    <a asp-area="Developer" asp-page="/Index" class="link-secondary" target="_blank">@L["Developer center"]</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                    Copyright © 2023 @(Product.Value.Copyright)
                </li>
                <li class="list-inline-item">
                    <a asp-area="" asp-page="/Terms" class="link-secondary">@L["Terms of Service"]</a>
                </li>
                <li class="list-inline-item">
                    <a asp-area="" asp-page="/Privacy" class="link-secondary">@L["Privacy"]</a>
                </li>
            </ul>
        </div>
    </div>
</div>