@inject OrganizationManager manager
@{
    Layout = "Shared/_Layout";

    var id = this.ViewContext.RouteData.Values["id"]?.ToString();
    GenericOrganization? org = null;
    if (id != null)
    {
        org = await this.manager.FindByIdAsync(id);
    }
}
<div class="row g-2 align-items-center mb-3">
    <div class="col">
        <h2 class="page-title">
            @org?.Name
        </h2>
    </div>
</div>
<div class="card">
    <div class="row g-0">
        <div class="col-12 col-md-3 border-end">
            <div class="card-body">
                <div class="list-group list-group-transparent">
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/Organizations/Detail" asp-page="Index" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["Overview"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/Organizations/Detail/General" asp-page="General" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["General"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/Organizations/Detail/Financial" asp-page="Financial" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["Financial"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" asp-path="/Organizations/Detail/Members" asp-page="Members" asp-route-id="@this.ViewContext.RouteData.Values["id"]">@localizer["Members"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" href="#">@localizer["Attachments"]</a>
                    <a class="list-group-item list-group-item-action d-flex align-items-center" href="#">@localizer["Advanced"]</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 d-flex flex-column">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</div>


@section scripts
    {
    @RenderSection("scripts", false)
}