@page "{id}"
@model IndexModel
@inject OrganizationMemberManager memberManager

@{
    this.ViewBag.Title = this.Model.Organization.Name;
    var members = await this.memberManager.GetMembersAsync(this.Model.Organization);
}


<h1>@Model.Organization.Name</h1>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Base info</h3>
    </div>
    <div class="card-body">
        <div class="datagrid">
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Name"]</div>
                <div class="datagrid-content">
                    @Model.Organization.Name
                    <a asp-page="ChangeName" asp-route-id="@Model.Organization.Id" class="btn btn-sm">变更名称</a>
                    </div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Used name"]</div>
                <div class="datagrid-content">
                    @foreach (var usedName in this.Model.Organization.UsedNames.OrderByDescending(p => p.DeprecateTime))
                    {
                        <p class="text-muted small">曾用名：@usedName.Name （@(usedName.DeprecateTime.ToShortDateString())前）</p>
                    }
                </div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["USCI"]</div>
                <div class="datagrid-content">@Model.Organization.USCI</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Domicile"]</div>
                <div class="datagrid-content">@Model.Organization.Domicile</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Contact"]</div>
                <div class="datagrid-content">@Model.Organization.Contact</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">代表人</div>
                <div class="datagrid-content">@Model.Organization.LegalPersonName</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">成立日期</div>
                <div class="datagrid-content">@Model.Organization.EstablishedAt</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">营业起止</div>
                <div class="datagrid-content">@Model.Organization.TermBegin - @Model.Organization.TermEnd</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">Status</div>
                <div class="datagrid-content">存续</div>
            </div>
        </div>
    </div>
</div>


<p><a asp-page="Edit" asp-route-id="@Model.Organization.Id" class="btn btn-primary">编辑</a></p>


<p></p>
<dl class="row">
    <dt class="col-4">创建时间</dt>
    <dd class="col-8">@Model.Organization.WhenCreated</dd>
    <dt class="col-4">更新时间</dt>
    <dd class="col-8">@Model.Organization.WhenChanged</dd>
    <dt class="col-4">启用</dt>
    <dd class="col-8">@Model.Organization.Enabled</dd>
    <dt class="col-4">成员数</dt>
    <dd class="col-8">@members.Count()</dd>
</dl>

<hr />
<p><a asp-page="Delete" asp-route-id="@Model.Organization.Id" class="btn btn-danger">删除组织</a></p>