@page "{id}"
@model MembersModel
@{
    this.ViewBag.Title = $"成员 - {this.Model.Organization.Name}";
}

<p>@Model.Members.Count() 人</p>
<form method="post" asp-page-handler="RemoveMember">
    <table class="table">
        <thead>
            <tr>
                <td>@localizer["Person"]</td>
                <td>@localizer["Title"]</td>
                <td>@localizer["Department"]</td>
                <td>@localizer["Remark"]</td>
                <td>@localizer["Owner"]</td>
                <td>@localizer["Membership"]</td>
                <td>@localizer["Operations"]</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in this.Model.Members)
            {
                <tr>
                    <td>@member.Person.Name</td>
                    <td>@member.Title</td>
                    <td>@member.Department</td>
                    <td>@member.Remark</td>
                    <td><input type="checkbox" class="form-check-input" asp-for="@member.IsOwner" disabled /></td>
                    <td>@member.Visibility</td>
                    <td>
                        <a asp-page="EditMember" asp-route-id="@this.ViewContext.RouteData.Values["id"]" asp-route-personId="@member.PersonId" class="btn btn-sm">@localizer["Edit"]</a>
                        <button type="submit" class="btn btn-sm btn-danger" name="personId" value="@member.PersonId" onclick="return confirm('Are you sure remove this person?');">@localizer["Remove"]</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#memberEditor">
    @localizer["Add member"]
</button>
<div class="modal fade" id="memberEditor">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Add/Edit Member</div>
            <div class="modal-body">
                <form method="post" asp-page-handler="AddMember">
                    <div class="mb-3">
                        <label for="personSearch" class="form-label">搜索人员</label>
                        <input name="personSearch" class="form-control" placeholder="姓名、拼音……" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.PersonId" class="form-label"></label>
                        <input asp-for="@Model.PersonId" class="form-control" readonly />
                        <span asp-validation-for="@Model.PersonId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Department" class="form-label"></label>
                        <input asp-for="@Model.Department" class="form-control" />
                        <span asp-validation-for="@Model.Department" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Title" class="form-label"></label>
                        <input asp-for="@Model.Title" class="form-control" />
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Remark" class="form-label"></label>
                        <input asp-for="@Model.Remark" class="form-control" />
                        <span asp-validation-for="@Model.Remark" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-ui/jquery-ui-1.13.2/jquery-ui.min.js"></script>
    <script>
        $(function () {
            $("[name='personSearch']").autocomplete({
                source: "@(this.Url.Action("SearchPerson", "IdService"))",
                minLength: 2,
                appendTo: "#memberEditor",
                select: function (event, ui) {
                    $(this).val(ui.item.name);
                    $("[name='PersonId']").val(ui.item.subjectId);
                    //$("[name='Input.UserName']").val(ui.item.name);
                    //$("[name='Input.PhoneticSearchHint']").val(ui.item.phoneticSearchHint);

                    return false;
                }
            })
                .autocomplete("instance")._renderItem = function (ul, item) {
                    var div = $("<div>");
                    div.append("<p>" + item.name + "</p>")
                    div.append("<ul>").append("<li>ddd</li>");
                    var li = $("<li>").append(div);
                    return li.appendTo(ul);
                };
        });

    </script>

                }