@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@section Heads{
    @RenderSection("Heads", false)
}

<div class="page-body">
    <div class="container-xl">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-page="/Index">OIDC</a></li>
                @RenderSection("breadcrumb", false)
            </ol>
        </nav>


        <nav class="nav">
            <a class="nav-link" asp-page="/Index">@localizer["Overview"]</a>
            <a class="nav-link" asp-page="/Clients/Index">@localizer["Clients"]</a>
            <a class="nav-link" asp-page="/Scopes/Index">@localizer["Scopes"]</a>
            <a class="nav-link" asp-page="/ApiResources/Index">@localizer["API Resources"]</a>
            <a class="nav-link" asp-page="/IdentityResources/Index">@localizer["Identity Resources"]</a>
            <a class="nav-link" asp-page="/IdentityProviders/Index">@localizer["Identity Providers"]</a>
            <a class="nav-link" asp-page="/Advanced">@localizer["Advanced"]</a>
        </nav>
        <hr />


        @RenderBody()

    </div>
</div>

@section Scripts{
    @RenderSection("Scripts", false)
}
