@{
    Layout = "Tabler/_PageWrapper";
}

@section head{
    @await RenderSectionAsync("head", false)
}

@section Header{
    <partial name="_DefaultTitleNavBarPartial"/>
    <header class="navbar-expand-md">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu2" aria-controls="navbar-menu2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-menu2">
            <div class="navbar">
                <div class="container-xl">
                    <ul class="navbar-nav">
                        <li class="nav-item" asp-path="/OpenIDConnect" asp-match-prefix="false">
                            <a class="nav-link" asp-page="/Index">@L["Overview"]</a>
                        </li>
                        <li class="nav-item" asp-path="/OpenIDConnect/Clients">
                            <a class="nav-link" asp-page="/Clients/Index">@L["Clients"]</a>
                        </li>
                        <li class="nav-item" asp-path="/OpenIDConnect/Scopes">
                            <a class="nav-link" asp-page="/Scopes/Index">@L["Scopes"]</a>
                        </li>
                        <li class="nav-item" asp-path="/OpenIDConnect/ApiResources">
                            <a class="nav-link" asp-page="/ApiResources/Index">@L["API resources"]</a>
                        </li>
                        <li class="nav-item" asp-path="/OpenIDConnect/IdentityResources">
                            <a class="nav-link" asp-page="/IdentityResources/Index">@L["Identity resources"]</a>
                        </li>
                        <li class="nav-item" asp-path="/OpenIDConnect/IdentityProviders">
                            <a class="nav-link" asp-page="/IdentityProviders/Index">@L["Identity providers"]</a>
                        </li>
                        <li class="nav-item" asp-path="/OpenIDConnect/ActiveSessions">
                            <a class="nav-link" asp-page="/ActiveSessions">@L["Active sessions"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
}

@section PageHeader
{
    <div class="container-xl">
        <ul class="breadcrumb mb-1">
            <li class="breadcrumb-item">
                <a asp-page="/Index">OIDC</a>
            </li>
            @await RenderSectionAsync("Breadcrumb", false)
        </ul>
        @await RenderSectionAsync("PageHeader", false)
    </div>

}

<div class="container-xl">
    @RenderBody()
</div>

@section PageFooter
{
    @* 页脚 *@
    <partial name="_DefaultFooterPartial"/>
}

@section Scripts{
    @await RenderSectionAsync("Scripts", false)
}