@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@section Heads{
    @RenderSection("Heads", false)
}
@section Navbar{
    <header class="navbar-expand-md">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu2" aria-controls="navbar-menu2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-menu2">
            <div class="navbar">
                <div class="container-xl">
                    <ul class="navbar-nav">
                        <li class="nav-item" asp-path="/OpenIDConnect" asp-match-prefix="false">
                            <a class="nav-link" asp-page="/Index">@localizer["Overview"]</a>
                        </li>
                        <li class="nav-item" asp-path="/OpenIDConnect/Clients">
                            <a class="nav-link" asp-page="/Clients/Index">@localizer["Clients"]</a>
                        </li>
                        <li class="nav-item" asp-path="/OpenIDConnect/Scopes">
                            <a class="nav-link" asp-page="/Scopes/Index">@localizer["Scopes"]</a>
                        </li>
                        <li class="nav-item" asp-path="/OpenIDConnect/ApiResources">
                            <a class="nav-link" asp-page="/ApiResources/Index">@localizer["API Resources"]</a>
                        </li>
                        <li class="nav-item" asp-path="/OpenIDConnect/IdentityResources">
                            <a class="nav-link" asp-page="/IdentityResources/Index">@localizer["Identity Resources"]</a>
                        </li>
                        <li class="nav-item" asp-path="/OpenIDConnect/IdentityProviders">
                            <a class="nav-link" asp-page="/IdentityProviders/Index">@localizer["Identity Providers"]</a>
                        </li>
                        <li class="nav-item" asp-path="/OpenIDConnect/Advanced">
                            <a class="nav-link" asp-page="/Advanced">@localizer["Advanced"]</a>
                        </li>
                        <li class="nav-item" asp-path="/OpenIDConnect/ActiveSessions">
                            <a class="nav-link" asp-page="/ActiveSessions">@localizer["Active Sessions"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
}

<div class="page-header">
    <div class="container-xl">
        <ul class="breadcrumb mb-1">
            <li class="breadcrumb-item"><a asp-page="/Index">Overview</a></li>
            @await RenderSectionAsync("Breadcrumb", false)
        </ul>
        @await RenderSectionAsync("PageHeader", false)
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        @RenderBody()
    </div>
</div>

@section Scripts{
    @RenderSection("Scripts", false)
}
