@page
@model AdminWebApp.Areas.Organizations.Pages.IndexModel
@{
    this.ViewBag.Title = this.localizer["Organizations"];
}
@section PageHeader{
    <div class="row align-items-center">
        <div class="col"><h1>@localizer["Overview"]</h1></div>
        <div class="col-auto"><partial name="_SearchInputPart" /></div>
        <div class="col-auto">
            <a asp-page="New" class="btn btn-green">@localizer["New organization"]</a>
        </div>
    </div>
}

<div class="row row-deck row-cards mb-3">
    <div class="col-sm-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="subheader">@localizer["Organizations"]</div>
                    <div class="ms-auto lh-1">
                    </div>
                </div>
                <div class="h1 mb-3">@this.Model.OrgCount</div>
            </div>
        </div>
    </div>
</div>

<h3>@localizer["Last 10 updates"]</h3>
<table class="table">
    <thead>
        <tr>
            <td>@localizer["Name"]</td>
            <td>@localizer["Domicile"]</td>
            <td>@localizer["Representative"]</td>
            <td>@localizer["USCI"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var org in this.Model.Last10Orgs)
        {
            <tr>
                <td><a asp-page="Detail/Index" asp-route-anchor="@org.Id">@org.Name</a></td>
                <td>@org.Domicile</td>
                <td>@org.Representative</td>
                <td>@org.USCI</td>
            </tr>
        }
    </tbody>
</table>

