@page
@model AdminWebApp.Areas.Organizations.Pages.IndexModel
@{
    ViewBag.Title = L["Organizations"];
}
@section head
{
}
@section PageHeader{
    <div class="row align-items-center">
        <div class="col"><h1>@L["Overview"]</h1></div>
        <div class="col-auto"><partial name="_SearchInputPart" /></div>
        <div class="col-auto">
            <a asp-page="New" class="btn btn-green">@L["New organization"]</a>
        </div>
    </div>
}

<div class="row row-deck row-cards mb-3">
    <div class="col-sm-6 col-lg-3">
        <vc:organization-nav-panel></vc:organization-nav-panel>
    </div>
</div>

<h3>@L["Last 10 updates"]</h3>
<table class="table">
    <thead>
        <tr>
            <td>@L["Name"]</td>
            <td>@L["Domicile"]</td>
            <td>@L["Representative"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var org in Model.Last10Orgs)
        {
            <tr>
                <td><a asp-page="Detail/Index" asp-route-anchor="@org.Id">@org.Name</a></td>
                <td>@org.Domicile</td>
                <td>@org.Representative</td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="Map">View in Map</a>
@section Scripts
{
}
