@page
@model SearchModel
@{
    this.ViewBag.Title = "搜索组织";
}

<div class="row">
    <div class="col-5">
        <partial name="_SearchInputPart" />
    </div>
</div>
<h2>搜索结果</h2>
@if (this.Model.Results != null)
{
    <table class="table">
        <thead>
            <tr>
                <td>名称</td>
                <td>统一社会信用代码</td>
                <td>住所</td>
                <td>代表人</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var org in this.Model.Results)
            {
                <tr>
                    <td>
                        <a asp-page="Detail/Index" asp-route-id="@org.Id">@org.Name</a>
                        @foreach (var usedName in org.UsedNames)
                        {
                            <span class="text-muted small">曾用名：@usedName.Name</span>
                        }
                    </td>
                    <td>@org.USCI</td>
                    <td>@org.Domicile</td>
                    <td>@org.LegalPersonName</td>
                </tr>
            }
        </tbody>
    </table>


}
