@page
@model SearchModel
@{
    this.ViewBag.Title = this.L["Searching organizations"];
}

<div class="row">
    <div class="col-5">
        <partial name="_SearchInputPart" />
    </div>
</div>
<h2>@L["Searching results"]</h2>
@if (this.Model.Results != null)
{
    <table class="table">
        <thead>
            <tr>
                <td>@L["Name"]</td>
                <td>@L["USCI"]</td>
                <td>@L["Domicile"]</td>
                <td>@L["Representative"]</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var org in this.Model.Results)
            {
                <tr>
                    <td>
                        <a asp-page="Detail/Index" asp-route-anchor="@org.Id">@org.Name</a>
                        @foreach (var usedName in org.UsedNames)
                        {
                            <span class="text-muted small">曾用名：@usedName.Name</span>
                        }
                    </td>
                    <td>@org.USCI</td>
                    <td>@org.Domicile</td>
                    <td>@org.Representative</td>
                </tr>
            }
        </tbody>
    </table>


}
