@page
@model IndexModel
@{
    this.ViewBag.Title = "客户端";
}

<h3>客户端</h3>

<a asp-page="Create" class="btn btn-primary">@localizer["New client"]</a>

<table class="table">
    <thead>
        <tr>
            <td>@localizer["Name"]</td>
            <td>@localizer["Workflow"]</td>
            <td>@localizer["Scopes"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in this.Model.Clients)
        {
            <tr>
                <td>
                    <p>
                        <a asp-page="Detail/Index" asp-route-id="@client.Id">@(client.ClientName)</a>
                        @if (client.RequireClientSecret)
                        {
                            <span class="badge bg-pink text-pink-fg">机密</span>
                        }

                        @if (client.RequirePkce)
                        {
                            <span class="badge bg-azure text-azure-fg">PKCE</span>
                        }
                    </p>
                    <p><span class="text-muted small">@client.ClientId</span></p>
                    <p>@client.Description</p>
                </td>
                <td>
                    @{
                        var grants = new StringBuilder();
                        foreach (var grant in client.AllowedGrantTypes)
                        {
                            grants.Append($"{grant.GrantType}, ");
                        }
                    }
                    @grants.ToString().Trim(' ', ',')
                </td>
                <td>
                    @{
                        var scopeStringBuilder = new StringBuilder();
                        foreach (var scope in client.AllowedScopes)
                        {
                            scopeStringBuilder.Append($"{scope.Scope} ");
                        }
                    }
                    @scopeStringBuilder.ToString().Trim()
                </td>
            </tr>
        }
    </tbody>
</table>