@page
@model IndexModel
@{
    this.ViewBag.Title = "Clients";
}

@section PageHeader{
    <div class="row">
        <div class="col">
            <h1>Clients</h1>
        </div>
        <div class="col-auto">
            <a asp-page="New" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="/lib/tabler-icons/tabler-sprite-nostroke.svg#tabler-plus"></use>
                </svg>
                @L["New client"]
            </a>
        </div>
    </div>
}

<div class="card">
    <table class="table table-vcenter card-table">
        <thead>
            <tr>
                <td>@L["Name"]</td>
                <td>@L["Grant types"]</td>
                <td>@L["Scopes"]</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in this.Model.Clients)
            {
                <tr>
                    <td>
                        <div class="d-flex py-1 align-items-center">
                            <span class="avatar me-2"></span>
                            <div class="flex-fill">
                                <div class="font-weight-medium">
                                    <a asp-page="Detail/Index" asp-route-anchor="@client.Id">@(client.ClientName)</a>
                                    @if (client.RequireClientSecret)
                                    {
                                        <span class="badge bg-pink text-pink-fg">Credentials</span>
                                    }

                                    @if (client.RequirePkce)
                                    {
                                        <span class="badge bg-azure text-azure-fg">PKCE</span>
                                    }
                                </div>
                                <div class="text-secondary">
                                    @client.Description
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.Raw(client.AllowedGrantTypes.Select(p => p.GrantType).Aggregate((x,y) => $"{x}, {y}"))
                    </td>
                    <td>
                        @Html.Raw(client.AllowedScopes.Select(p => p.Scope).Aggregate((x,y) => $"{x}, {y}"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
