@page
@using AdminWebApp.Components
@model IndexModel
@{
    ViewBag.Title = L["Organizations"];
}

@section head
{
}

@section PageHeader {
    <div class="row align-items-center">
        <div class="col">
            <h1>@SL["Overview"]</h1>
        </div>
        <div class="col-auto">
            <partial name="_SearchInputPart" />
        </div>
        <div class="col-auto">
            <a asp-page="New" class="btn btn-green">@L["New organization"]</a>
        </div>
    </div>
}

<div class="row row-deck row-cards mb-3">
    <div class="col-sm-6 col-lg-3">
        <component type="typeof(OrganizationNavPanel)" render-mode="Static" />
    </div>
</div>

<h3>@L["Last 10 updates"]</h3>
<table class="table">
    <thead>
        <tr>
            <th>@L["Name"]</th>
            <th>@L["Domicile"]</th>
            <th>@L["Representative"]</th>
            <th>@L["Contact"]</th>
            <th>@L["Updated at"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var org in Model.Last10Orgs)
        {
            <tr>
                <td>
                    <a asp-page="Detail/Index" asp-route-anchor="@org.Id">@org.Name</a>
                </td>
                <td>@org.Domicile</td>
                <td>@org.Representative</td>
                <td>@org.Contact</td>
                <td>@Html.DisplayFor(m => org.UpdatedAt)</td>
            </tr>
        }
    </tbody>
</table>