@page
@model NewModel
@{
    ViewBag.Title = L["New organization"];
}

@Html.DisplayFor(m => m.OperationResult)
<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name" class="form-label required"></label>
                <input asp-for="@Model.Name" class="form-control" autofocus />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label asp-for="@Model.Domicile" class="form-label"></label>
                <input asp-for="@Model.Domicile" class="form-control" />
                <span asp-validation-for="@Model.Domicile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Representative" class="form-label"></label>
                <input asp-for="@Model.Representative" class="form-control" />
                <span asp-validation-for="@Model.Representative" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Contact" class="form-label"></label>
                <input asp-for="@Model.Contact" class="form-control" />
                <span asp-validation-for="@Model.Contact" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-primary">@L["Create"]</button>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}