@using AlphaIdPlatform.Identity
@using AlphaIdPlatform.Security
@using AlphaIdPlatform.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<NaturalPerson> UserManager
@inject IOptions<ProductInfo> Product
@{
    Layout = "Tabler/_PageWrapper";
    var person = await UserManager.GetUserAsync(User);
}

@section head {
    @await RenderSectionAsync("head", false)
}

@section Header {
    <partial name="_DefaultTitleNavBarPartial" />
    @await RenderSectionAsync("Header", false)
}

@section PageHeader
{
    <div class="container-xl">
        <div class="row align-items-center">
            <div class="col-auto">
                <span class="avatar avatar-lg rounded" style="background-image: url('@User.AvatarUrl()')"></span>
            </div>
            <div class="col">
                <h1 class="fw-bold">@person!.HumanName?.FullName</h1>
                <p>@L["Your personal account"]</p>
            </div>
            <div class="col-auto ms-auto">
            </div>
        </div>
    </div>
}

<div class="container-xl">
    <div class="card">
        <div class="row g-0">
            <div class="col-12 col-md-2 border-end">
                <div class="card-body">
                    <div class="list-group list-group-transparent">
                        <a asp-page="/Profile/Index" asp-path="/Settings/Profile!" class="list-group-item list-group-item-action d-flex align-items-center">@L["Profile"]</a>
                        <a asp-page="/Profile/PersonName" asp-path="/Settings/Profile/PersonName" class="list-group-item list-group-item-action d-flex align-items-center">@L["Person name"]</a>
                        <a asp-page="/Profile/OtherNames" asp-path="/Settings/Profile/OtherNames" class="list-group-item list-group-item-action d-flex align-items-center">@L["Other names"]</a>
                        <a asp-page="/Account/Index" asp-path="/Settings/Account" class="list-group-item list-group-item-action d-flex align-items-center">@L["Account"]</a>
                        <a asp-page="/Authentication/Index" asp-path="/Settings/Authentication" class="list-group-item list-group-item-action d-flex align-items-center">@L["Password and authentication"]</a>
                        <a asp-page="/Organizations/Index" asp-path="/Settings/Organizations" class="list-group-item list-group-item-action d-flex align-items-center">@L["Organizations"]</a>
                        <a asp-page="/RealName/Index" asp-path="/Settings/RealName" class="list-group-item list-group-item-action d-flex align-items-center">@L["Real-name authentication"]</a>
                        @* <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">Billing &amp; Invoices</a> *@
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10 d-flex flex-column">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@section PageFooter
{
    @* 页脚 *@
    <partial name="_DefaultFooterPartial" />
}

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}