@page
@model IndexModel
@{
    this.ViewBag.Title = localizer["Financial"];
}
<h2>@localizer["Financial"]</h2>
<div class="row align-items-center">
    <div class="col">
        <h2>@localizer["Bank accounts"]</h2>
    </div>
    <div class="col-auto">
        <a href="#" class="btn">@localizer["Add account"]</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <td>@localizer["Name"]</td>
            <td>@localizer["Account ID"]</td>
            <td>@localizer["Bank"]</td>
            <td>@localizer["Usage"]</td>
            <td>@localizer["Default"]</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var bankAccount in Model.Data.BankAccounts)
        {
            <tr>
                <td>@bankAccount.AccountName</td>
                <td>@bankAccount.AccountNumber</td>
                <td>@bankAccount.BankName</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h2>@localizer["Fapiao info"]</h2>
<form method="post">
    <div class="mb-3">
        <label asp-for="Input.Name" class="form-label"></label>
        <input asp-for="Input.Name" class="form-control" />
        <span asp-description-for="Input.Name"></span>
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Input.TaxpayerId" class="form-label"></label>
        <input asp-for="Input.TaxpayerId" class="form-control" />
        <span asp-description-for="Input.TaxpayerId"></span>
        <span asp-validation-for="Input.TaxpayerId" class="text-danger"></span>
    </div>
    <div class="row g-3">
        <div class="col-md">
            <label asp-for="Input.Address" class="form-label"></label>
            <input asp-for="Input.Address" class="form-control" />
            <span asp-description-for="Input.Address"></span>
            <span asp-validation-for="Input.Address" class="text-danger"></span>
        </div>
        <div class="col-md">
            <label asp-for="Input.Contact" class="form-label"></label>
            <input asp-for="Input.Contact" class="form-control" />
            <span asp-description-for="Input.Contact"></span>
            <span asp-validation-for="Input.Contact" class="text-danger"></span>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md">
            <label asp-for="Input.Bank" class="form-label"></label>
            <input asp-for="Input.Bank" class="form-control" />
            <span asp-description-for="Input.Bank"></span>
            <span asp-validation-for="Input.Bank" class="text-danger"></span>
        </div>
        <div class="col-md">
            <label asp-for="Input.Account" class="form-label"></label>
            <input asp-for="Input.Account" class="form-control" />
            <span asp-description-for="Input.Account"></span>
            <span asp-validation-for="Input.Account" class="text-danger"></span>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary">@localizer["Save"]</button>
    <button type="submit" class="btn btn-danger" asp-page-handler="Clear">@localizer["Clear"]</button>
</form>