@using AlphaIDPlatform;
@using IDSubjects;
@using IDSubjects.RealName;
@using Microsoft.Extensions.Configuration;
@model NaturalPerson
@inject OrganizationMemberManager memberManager
@inject ChineseIDCardManager? chineseIDCardManager
@{
    var members = await this.memberManager.GetMembersOfAsync(this.Model);
    ChineseIDCardValidation? card = null;
    if(this.chineseIDCardManager != null)
    {
        card = await this.chineseIDCardManager.GetCurrentAsync(this.Model);
    }
}
<img src="@this.User.AvatarUrl()" title="Avator" />
<p>@Model.Name (@(Model.UserName)) 
    @{
        if(card != null)
        {
            <a asp-page="/Profile/RealName/Index"><img src="~/images/RealNameValid.png" alt="@localizer["Realname valid"]" title="@localizer["Realname valid"]" class="img-fluid" width="32"></a>
        }
    }
</p>
<p><a asp-page="/Account/Manage/Index" class="btn btn-sm btn-secondary">@localizer["Manage my account"]</a></p>
<hr />
<h2><a asp-page="/Organizations/Index">@localizer["Your organizations"]</a></h2>
<ul>
    @foreach(var member in members)
    {
        <li><a asp-page="/Organizations/Detail" asp-route-id="@member.OrganizationId">@member.Title @member.Department @member.Organization.Name</a></li>
    }
</ul>