@page
@model IndexModel
@{
    this.ViewBag.Title = this.L["Account"];
}

<h2>@L["Account"]</h2>

<a asp-page="ChangeUserName" class="btn">@L["Change your user name"]</a>
<a asp-page="Mobile" class="btn">@L["Change your phone number"]</a>
<a asp-page="Email" class="btn">@L["Change your email"]</a>


<h3>@L["Personal Data"]</h3>
<a asp-page="PersonalData" class="btn">@L["Manage personal data"]</a>