@model IdSubjects.RealName.ChineseIdCardDocument
<div class="card mb-3">
    <div class="card-body">
        <div class="datagrid">
            <div class="datagrid-item">
                <div class="datagrid-title">@L["Name"]</div>
                <div class="datagrid-content">@Model.Name</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@L["Sex"]</div>
                <div class="datagrid-content">@Model.Sex</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@L["Ethnicity"]</div>
                <div class="datagrid-content">@Model.Ethnicity</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@L["Date of birth"]</div>
                <div class="datagrid-content">@Model.DateOfBirth</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@L["Address"]</div>
                <div class="datagrid-content">@Model.Address</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@L["Issuer"]</div>
                <div class="datagrid-content">@Model.Issuer</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@L["Issue date"]</div>
                <div class="datagrid-content">@Model.IssueDate</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@L["Expires"]</div>
                <div class="datagrid-content">@Model.Expires</div>
            </div>
        </div>
    </div>
</div>