@page
@model AuthenticationsModel
@{
}
<table class="table">
    <thead>
    <tr>
        <th>@L["Person name"]</th>
        <th>@L["Validated at"]</th>
        <th>@L["Validated by"]</th>
        <th>@L["Remark"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var authentication in Model.Authentications)
    {
        <tr>
            <td>
                <a asp-page="Authentication" asp-route-id="@authentication.Id">@authentication.PersonName</a>
            </td>
            <td>@authentication.ValidatedAt</td>
            <td>@authentication.ValidatedBy</td>
            <td>@authentication.Remarks</td>
        </tr>
    }
    </tbody>
</table>