@page
@using IdSubjects.RealName
@model AuthCenterWebApp.Areas.Settings.Pages.RealName.IndexModel
@{
    ViewBag.Title = L["Real-name State"];
}
<h2>@L["Real-name State"]</h2>


<h3>@L["Available Real-name Authentications"]</h3>
<div class="list-group list-group-flush">
    @foreach (var authentication in Model.Authentications)
    {
        <div class="list-group-item">
            @Html.DisplayFor(m => authentication)
        </div>
    }
</div>
<hr/>
<h3>@L["Pending Requests"]</h3>
<div class="list-group list-group-flush">
    @foreach (var request in Model.Requests)
    {
        <div class="list-group-item">
            @Html.DisplayFor(m => request)
        </div>
    }
</div>


<a asp-page="Request" class="btn">@L["Start Request"]</a>