@page
@model DetailModel

<h2>概要</h2>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Base info</h3>
    </div>
    <div class="card-body">
        <div class="datagrid">
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Name"]</div>
                <div class="datagrid-content">@Model.Data.Name</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Display name"]</div>
                <div class="datagrid-content">@Model.Data.DisplayName</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Status"]</div>
                <div class="datagrid-content">@Model.Data.Enabled</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Description"]</div>
                <div class="datagrid-content">@Model.Data.Description</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Emphasize"]</div>
                <div class="datagrid-content">@Model.Data.Emphasize</div>
            </div>
            <div class="datagrid-item">
                <div class="datagrid-title">@localizer["Show in Disco"]</div>
                <div class="datagrid-content">@Model.Data.ShowInDiscoveryDocument</div>
            </div>
        </div>
    </div>
</div>

<h2>关联资源</h2>
<vc:referenced-clients scope="@Model.Data.Name"></vc:referenced-clients>

<vc:referenced-api-resources scope="@Model.Data.Name"></vc:referenced-api-resources>

<h2>操作</h2>

<a asp-page="Delete" asp-route-id="@Model.Data.Id" class="btn btn-danger">删除Scope</a>