@page
@model IndexModel
@{
    this.ViewData["Title"] = "范围";
}
<h3>范围</h3>

<a asp-page="Create" class="btn btn-primary">新建Scope</a>

<table class="table">
    <thead>
        <tr>
            <td>名称</td>
            <td>启用</td>
            <td>显示名称</td>
            <td>描述</td>
            <td>必需的</td>
            <td>Emphasize</td>
            <td>在发现文档中列出</td>
            <td>创建时间</td>
            <td>修改时间</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var scope in this.Model.Results)
        {
            <tr>
                <td><a asp-page="Detail" asp-route-id="@scope.Id">@scope.Name</a></td>
                <td>@scope.Enabled</td>
                <td>@scope.DisplayName</td>
                <td>@scope.Description</td>
                <td>@scope.Required</td>
                <td>@scope.Emphasize</td>
                <td>@scope.ShowInDiscoveryDocument</td>
                <td>@scope.Created</td>
                <td>@scope.Updated</td>
            </tr>
        }
    </tbody>
</table>