@page
@model IndexModel
@{
    ViewBag.Title = L["Scopes"];
}

@section PageHeader{
    <div class="row">
        <div class="col">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-auto">
            <a asp-page="New" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="/lib/tabler-icons/tabler-sprite-nostroke.svg#tabler-plus"></use>
                </svg>
                @L["New scope"]
            </a>
        </div>
    </div>
}

<div class="card">
    <table class="table">
        <thead>
        <tr>
            <th>@L["Name"]</th>
            <th>@L["Enabled"]</th>
            <th>@L["Display name"]</th>
            <th>@L["Description"]</th>
            <th>@L["Required"]</th>
            <th>@L["Emphasize"]</th>
            <th>@L["Show in discovery document"]</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var scope in Model.Results)
        {
            <tr>
                <td>
                    <a asp-page="Detail/Index" asp-route-id="@scope.Id">@scope.Name</a>
                </td>
                <td>
                    <input asp-for="@scope.Enabled" class="form-check-input" disabled/>
                </td>
                <td>@scope.DisplayName</td>
                <td>@scope.Description</td>
                <td>
                    <input asp-for="@scope.Required" class="form-check-input" disabled/>
                </td>
                <td>
                    <input asp-for="@scope.Emphasize" class="form-check-input" disabled/>
                </td>
                <td>
                    <input asp-for="@scope.ShowInDiscoveryDocument" class="form-check-input" disabled/>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>