@page
@model IndexModel
@{
    this.ViewBag.Title = this.localizer["Scopes"].Value;
}

<h3>@ViewBag.Title</h3>

<a asp-page="Create" class="btn btn-primary">@localizer["Create scope"]</a>
<div class="card">
    <table class="table">
        <thead>
            <tr>
                <td>@localizer["Name"]</td>
                <td>@localizer["Enabled"]</td>
                <td>@localizer["Display name"]</td>
                <td>@localizer["Description"]</td>
                <td>@localizer["Required"]</td>
                <td>@localizer["Emphasize"]</td>
                <td>@localizer["Show in discovery document"]</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var scope in this.Model.Results)
            {
                <tr>
                    <td><a asp-page="Detail" asp-route-id="@scope.Id">@scope.Name</a></td>
                    <td><input asp-for="@scope.Enabled" class="form-check-input" disabled /></td>
                    <td>@scope.DisplayName</td>
                    <td>@scope.Description</td>
                    <td><input asp-for="@scope.Required" class="form-check-input" disabled /></td>
                    <td><input asp-for="@scope.Emphasize" class="form-check-input" disabled /></td>
                    <td><input asp-for="@scope.ShowInDiscoveryDocument" class="form-check-input" disabled /></td>
                </tr>
            }
        </tbody>
    </table>
</div>
