@using AlphaIdPlatform.Security
@using AlphaIdPlatform.Subjects
@inject OrganizationManager OrganizationManager
@{
    Layout = "Shared/_Layout";
    var isOwner = false;
    var anchor = ViewContext.RouteData.Values["anchor"]?.ToString();
    if (User.Identity!.IsAuthenticated)
    {
        var subjectId = User.SubjectId();
        if (anchor != null && subjectId != null)
        {
            var org = await OrganizationManager.FindByNameAsync(anchor);
            if (org != null)
                isOwner = org.Members.Any(m => m.PersonId == subjectId && m.IsOwner);
        }
    }
}
@section head {
    @await RenderSectionAsync("head", false)
}
<div class="row">
    <div class="col-2">
        <div class="card">
            <div class="card-header"></div>
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    <a asp-page="Index" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Members"]</a>
                </div>
                @if (isOwner)
                {
                    <div class="list-group-item">
                        <a asp-page="PendingRequests" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Join requests"]</a>
                    </div>
                    <div class="list-group-item">
                        <a asp-page="Invitations" asp-route-anchor="@ViewContext.RouteData.Values["anchor"]">@L["Invitations"]</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-10">
        @RenderBody()
    </div>
</div>
@section Scripts
{
    @await RenderSectionAsync("Scripts", false)
}