@page
@model AuthCenterWebApp.Areas.Organization.Pages.People.IndexModel
@{
    ViewBag.Title = L["People"];
}
<div class="page-body">
    <div class="container-xl">
        <h1>@L["People"]</h1>
        <div class="d-flex mb-3">
            <div class="input-icon">
                <span class="input-icon-addon">
                    <!-- Download SVG icon from http://tabler-icons.io/i/user -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg>
                </span>
                <input type="text" value="" class="form-control" placeholder="@L["Find members"]">
            </div>
            <a class="btn ms-auto">@L["Export"]</a>
            <a class="btn ms-3">@L["Invite member"]</a>
        </div>
        <div class="card">
            <div class="card-header">
                <input type="checkbox" class="form-check-input" />
            </div>
            <div class="list-group list-group-flush">
                @foreach (var member in Model.Members)
                {
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto"><input type="checkbox" class="form-check-input" value="@member.PersonId"></div>
                            <div class="col-auto">
                                <a href="#">
                                    <span class="avatar" style="background-image: url('@Url.Page("/Avatar", new{area="People", userAnchor = member.PersonId})"></span>
                                </a>
                            </div>
                            <div class="col text-truncate">
                                <a asp-page="/Index" asp-area="People" asp-route-userAnchor="@member.Person.UserName" class="text-reset d-block">@member.Person.Name</a>
                                <div class="d-block text-secondary text-truncate mt-n1">@member.Title - @member.Department - @member.Remark</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>