@page
@model InvitationsModel
@{
    ViewBag.Title = L["Invitations"];
}
@Html.DisplayFor(m => m.Result)
<h2>@ViewBag.Title</h2>
<form method="post">
    <table class="table">
        <thead>
        <tr>
            <th>@L["Invitee"]</th>
            <th>@L["Expected visibility"]</th>
            <th>@L["Time"]</th>
            <th>@L["Inviter"]</th>
            <th>@L["Operations"]</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Invitations.Any())
        {
            foreach (var invitation in Model.Invitations)
            {
                <tr>
                    <td>@invitation.InviteeId</td>
                    <td>@invitation.ExpectVisibility</td>
                    <td>@invitation.WhenCreated</td>
                    <td>@invitation.Inviter</td>
                    <td>
                        <button type="submit" asp-page-handler="Revoke" asp-route-invitationId="@invitation.Id" class="btn btn-sm btn-outline-danger" onclick="return confirm('@L["Revoke this invitation?"]')">@L["Revoke"]</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">@L["No results."]</td>
            </tr>
        }
        </tbody>
    </table>
</form>
<hr/>
<a class="btn btn-green ms-3" asp-page="Invite" asp-route-anchor="@RouteData.Values["anchor"]">@L["Invite member"]</a>