@page
@model ChangePasswordModel
@{
    Layout = "Tabler/_Page_Center";
    ViewBag.Title = L["Change password"];
}
<div class="container container-tight py4">
    <div class="text-center mb-4">
        <a asp-area="" asp-page="/Index" class="navbar-brand navbar-brand-autodark">
            <img src="/logo.png" width="32" height="32" alt="Tabler" class="navbar-brand-image">
            @Product.Value.Name @L["Account"]
        </a>
    </div>
    <div class="card card-md">
        <div class="card-body">
            <h2>@L["Change password"]</h2>
            <p>@L["Your password has expired"]</p>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <input asp-for="Input.OldPassword" class="form-control" autofocus/>
                    <span asp-validation-for="Input.OldPassword" , class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <input asp-for="Input.NewPassword" class="form-control"/>
                    <span asp-validation-for="Input.NewPassword" , class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="Input.ConfirmPassword" , class="text-danger"></span>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-primary">@L["Change Password"]</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}