@page
@model ForgetPasswordModel
@{
    ViewBag.Title = L["Forgot password?"];
}
<div class="text-center mb-4">
    <a asp-area="" asp-page="/Index" class="navbar-brand navbar-brand-autodark">
        <img src="/logo.png" width="32" height="32" alt="Tabler" class="navbar-brand-image">
        @Product.Value.Name @L["Account"]
    </a>
</div>
<div class="card card-md">
    <div class="card-body">
        <h2>@ViewBag.Title</h2>
        <p>@L["Reset password via ways below:"]</p>
        <p>
            <a asp-page="FindPasswordByEmail" class="btn">@L["Reset password via email"]</a>
        </p>
        @if (Model.SupportVerificationCodeService)
        {
            <p>
                <a asp-page="FindPasswordByMobile" class="btn">@L["Reset password via short message"]</a>
            </p>
        }
        <a asp-page="/Index" class="btn">@SL["Return"]</a>
    </div>
</div>
