@page
@model ResetPasswordConfirmationModel
@{
    ViewBag.Title = L["Reset password confirmation"];
}
<div class="text-center mb-4">
    <a asp-area="" asp-page="/Index" class="navbar-brand navbar-brand-autodark">
        <img src="/logo.png" width="32" height="32" alt="Tabler" class="navbar-brand-image">
        @Product.Value.Name @SL["Account"]
    </a>
</div>

<div class="card">
    <div class="card-body">
        <h2>@ViewBag.Title</h2>
        <p>
            @L["Your password has been reset."] 
        </p>
        <a asp-page="/Index" class="btn">@SL["Return"]</a>
    </div>
</div>
