@page
@inject IOptions<ProductInfo> production
@model AuthCenterWebApp.Pages.Account.SignUpModel
@{
    this.Layout = "_AuthenticationLayout";
    this.ViewData["title"] = $"创建你的{this.production.Value.Name}";
}

@section Heads
    {
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
}

<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a asp-area="" asp-page="/Index" class="navbar-brand navbar-brand-autodark">
                <img src="/logo.png" width="110" height="32" alt="Tabler" class="navbar-brand-image">
                @production.Value.Name
            </a>
        </div>
        @if (this.Model.ExternalLoginMessage != null)
        {
            <div class="alert alert-primary">
                <p>@this.Model.ExternalLoginMessage</p>
            </div>
        }
        <form method="post" class="card card-md">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">@localizer["Create new account"]</h2>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <div class="col">
                        <label asp-for="Input.Surname" class="form-label required"></label>
                        <input asp-for="Input.Surname" class="form-control" />
                        <span asp-validation-for="Input.Surname" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Input.GivenName" class="form-label required"></label>
                        <input asp-for="Input.GivenName" class="form-control" />
                        <span asp-validation-for="Input.GivenName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label asp-for="Input.Sex" class="form-label required"></label>
                        <select asp-for="Input.Sex" class="form-select">
                            <option label="@localizer["Unselected"]"></option>
                            <option label="@localizer["Male"]" value="Male"></option>
                            <option label="@localizer["Female"]" value="Female"></option>
                        </select>
                        <span asp-validation-for="Input.Sex" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Input.DateOfBirth" class="form-label required"></label>
                        <input asp-for="Input.DateOfBirth" class="form-control" />
                        <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Mobile" class="form-label required"></label>
                    <div class="input-group mb-2">
                        <input asp-for="Input.Mobile" class="form-control" />
                        <button type="button" class="btn" onclick="SendVerificationCode(this);">@localizer["Send code"]</button>
                    </div>
                    <span asp-validation-for="Input.Mobile" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.VerificationCode" class="form-label required"></label>
                    <input asp-for="Input.VerificationCode" class="form-control" />
                    <span asp-validation-for="Input.VerificationCode" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.NewPassword" class="form-label required"></label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.ConfirmPassword" class="form-label required"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <hr />
                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <p asp-description-for="Input.Email"></p>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <hr />
                <div class="mb-3">
                    <label asp-for="Input.CaptchaCode" class="form-label required"></label>
                    <captcha id="LoginCaptcha" user-input-id="CaptchaCode" />
                    <input asp-for="Input.CaptchaCode" id="CaptchaCode" class="form-control captchaVal" />
                </div>
                <hr />
                <div class="form-check">
                    <input asp-for="Input.Agree" class="form-check-input" />
                    <label asp-for="Input.Agree" class="form-check-label">@localizer["Agree the"] <a href="#" target="_blank">@localizer["Terms of service"]</a></label>
                </div>
                <button type="submit" class="btn btn-primary">@localizer["Continue"]</button>
            </div>

        </form>


        <div class="text-center text-secondary mt-3">
            @localizer["Already have account?"] <a asp-page="Login" tabindex="-1">@localizer["Sign in"]</a>
        </div>
    </div>
</div>

@section Scripts
    {

    <script src="~/js/captcha.validate.js"></script>

    <script>
        var countdown = 60;
        function SendVerificationCode(obj) {
            var mobile = $("#Input_Mobile").val();
            var mobilereg = /^[1][3,4,5,7,8,9][0-9]{9}$/;
            //var sendVcodeSuccess = $('#send_vcode_success');
            //var sendVcodeFail = $('#send_vcode_fail');
            //var mobileInputInvalid = $('#mobile_input_invalid');
            if (!mobilereg.test(mobile)) {
                //mobileInputInvalid.fadeIn(200);
            } else {
                settime(obj);
                $.ajax({
                    method: 'POST',
                    url: "?handler=SendVerificationCode",
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    data: { mobile: mobile },
                    success: function (data) {
                        //sendVcodeSuccess.fadeIn(200);
                    },
                    error: function (error) {
                        //sendVcodeFail.fadeIn(200);
                    }
                })
            }
        }
        function settime(obj) {

            var code = $(obj);
            if (countdown == 0) {
                code.removeAttr('disabled');
                code.text("获取验证码");
                countdown = 60;
                return;
            } else {
                code.text("重新发送(" + countdown + ")");
                code.attr('disabled', true);
                countdown--;
            }
            setTimeout(function () {
                settime(obj)
            }, 1000);

        }
    </script>
        }