@page
@model DetailModel
@{
    this.ViewBag.Title = this.Model.Data.Organization.Name;
}
<h1>@this.Model.Data.Organization.Name</h1>
<partial name="_OrganizationInfoPartial" model="Model.Data.Organization" />

<hr />
<h2>组织账户</h2>
<table class="table">
    <thead>
        <tr>
            <td>Type</td>
            <td>AccountName</td>
            <td>Account Number</td>
            <td>Bank</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in this.Model.Data.Organization.BankAccounts)
        {
            <tr>
                <td>基本户</td>
                <td>@account.AccountName</td>
                <td>@account.AccountNumber</td>
                <td>@account.BankName</td>
            </tr>
        }
    </tbody>
</table>

<p><a asp-page="Leave" asp-route-id="@this.Model.Data.OrganizationId" class="btn btn-danger">离开组织</a></p>