@page
@model IndexModel
@{
    ViewBag.Title = Model.Organization.Name;
}

@section PageHeader
{
    <div class="container-xl">
        <h2 class="page-title">@Model.Organization.Name</h2>
        <p>@Model.Organization.Description</p>
        <p>@Model.Organization.Domicile @Model.Organization.Contact</p>
    </div>
}

<div class="container-xl">
    <h2>@L["Activities"]</h2>
</div>