@page
@model AuthCenterWebApp.Areas.Organization.Pages.WhoModel
@{
}

<h1>There are two organizations has the same name. Who you want to see?</h1>

<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Domicile</td>
            <td>Representative</td>
            <td>USCI</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var org in Model.Organizations)
        {
            <tr>
                <td><a asp-page="Index" asp-route-anchor="@org.Id">@org.Name</a></td>
                <td>@org.Domicile</td>
                <td>@org.LegalPersonName</td>
                <td>@org.USCI</td>
            </tr>
        }
    </tbody>
</table>